[2018-06-21 11:28] nebhale opened #1 "Upgrade to Reactor Californium"

[2018-06-21 15:04] #1 closed

[2018-06-21 15:34] nebhale opened #2 "Custom Operator"
Having some experience doing this now, the client portion of the implementation (i.e. the portion that transforms Reactive Streams into wire-protocol) should be implemented as a custom operator.  This would allow the use of `onSubscribe()` to establish the connection, `cancel()` to terminate it, and `request()` to call for more data from a portal.  This is much easier to troubleshoot and more intu

[2018-06-22 09:14] mp911de opened #3 "Initialize reason and sqlState in PostgresqlServerErrorException"
`PostgresqlServerErrorException` should initialize reason and sqlState of its `R2dbcException` superclass.

[2018-06-22 09:14] nebhale commented on #3
Did you know that it doesn't appear to do this in the JDBC driver?

[2018-06-22 10:00] #3 closed

[2018-07-05 10:35] davecramer opened #6 "add SCRAM authentication"
postgresql 10 now supports scram-sha-256 password auth https://www.postgresql.org/docs/11/static/auth-password.html

[2018-07-05 15:24] nebhale commented on #6
Thanks for the first request.  I'll get on it!

[2018-08-03 14:20] nebhale opened #7 "Move to Californium Milestones"

[2018-08-10 21:26] nebhale commented on #7
Hmm.  That's not going to work.  Need the fix from https://github.com/reactor/reactor-core/issues/1033

[2018-08-13 17:57] nebhale commented on #7
@mp911de Just a heads up that we actually need Californium.  I've upgrade to M1 for now.  Is this going to be a problem for you?

[2018-08-13 18:03] #7 closed

[2018-08-14 07:19] mp911de commented on #7
Works for us. Spring Data is following the most recent Reactor upgrades and it looks like as if the Reactor Netty upgrade is already in place. I was only concerned about the fact having Californium for Reactor Core but Bismuth for Reactor Netty.

[2018-08-14 07:53] mp911de opened #8 "Row.get(…, Object.class) fails with java.lang.IllegalArgumentException: Cannot decode value of type java.lang.Object"
Calling `Row.get(…)` with `Object.class` fails with `IllegalArgumentException`

[code]

Code to reproduce:

**SQL**

[code]

**Java**

[code]

[2018-08-14 17:11] #8 closed

[2018-08-14 17:12] nebhale commented on #8
@mp911de [Sigh](https://twitter.com/jroper/status/1022337463212072960).

[2018-08-17 14:21] mp911de opened #9 "Row.get(Object) decodes VARCHAR columns as CHAR"
Calling `Row.get(identifier)` or `Row.get(identifier, Object.class)` decodes `VARCHAR` values as chars. The result is that only the first character of the string is returned.

[2018-08-17 17:06] nebhale commented on #9
This isn't the only conflict (which is why being explicit where you can is useful), but I'm going to set the priorities as:

* `ShortCodec` <= `ByteCodec`
* `StringCodec` <= `CharacterCodec`, `EnumCodec`, `UriCodec`, `UrlCodec`, `ZoneIdCodec`
* `InstantCodec` <= `DateCodec`

[2018-08-17 17:24] #9 closed, assigned to nobody

[2018-08-24 16:03] making opened #10 "PostgresqlConnectionFactory.create() is blocking"
I'm using 1.0.0.BUILD-SNAPSHOT with reactor-netty 0.8.0.M2.

The following exception occurred when creating a `Connection` on the thread of Spring WebFlux

[code]

Creating a `ReactorNettyClient` seems [blocking](https://github.com/r2dbc/r2dbc-postgresql/blob/c78863a6ca2c7b39f0ff883e0210729da31b7dd9/src/main/java/io/r2dbc/postgresql/client/ReactorNettyClient.java#L124) and this is [created per `Co

[2018-09-12 15:28] olivergierke commented on #10
@nebhale – I‘d like to raise the priority of this one as it makes R2DBC not working on the latest Spring Boot 2.1 releases and snapshots.

[2018-09-13 09:44] mp911de commented on #10
I pushed a fix to the [bugfix branch](https://github.com/r2dbc/r2dbc-postgresql/tree/fix-blocking-netty-client) and deployed a snapshot build using version `1.0.0.ISSUE-10-SNAPSHOT`.

[2018-09-13 21:05] #10 closed

[2018-10-03 21:01] mp911de opened #12 "Reduce usage of Optional and Stream in hot code paths"
We should replace `Optional` and `Stream` in hot code paths to avoid GC pressure and CPU overhead due to additional method invocations and intermediate object creation.

Using the Stream API makes the code more functional/readable than using loops and `if` statements, yet the overhead caused by using `Optional` and `Stream` can be significant.

[2018-10-04 17:36] KaRkY opened #13 "StringCodec doCanDecode test wrong"
`StringCodec` at line 51 tests if return type from database is:
`TEXT == format && VARCHAR == type`
I think it should be:
`TEXT == format || VARCHAR == type`

[2018-10-04 18:04] KaRkY opened #14 "Remote host connection closed problem"
I was trying to play with r2dbc but can not get it to work. I think it is a problem with communication between the Driver and Database. I could not debug the exact problem because I do not understand reactor code (yet). But here is DEBUG log of the problem. What I am sure is that connection information is OK because I see in logs that SQL was sent and response was delivered.

[code]

[2018-10-04 18:09] KaRkY commented on #14
I forgot this is the code:
[code]

[2018-10-04 18:15] nebhale commented on #13
This is correct as implemented.  `format` describes the encoding of the data in the frame, and has nothing to do with the contents being tested (e.g. integers are transmitted in `TEXT` form in some cases).  So this line ensures that the encoding is `TEXT` and the type is `VARCHAR` (the string type).

[2018-10-04 18:19] KaRkY commented on #13
Oh OK did not know that got to that conclusion with debuging issue #14 then this issue can be closed.

[2018-10-04 18:19] #13 closed

[2018-10-04 18:41] nebhale commented on #14
The important logging here is the framing:

[code]

In it, you'll notice the the initial handshake and then the `Query` frame.  A single `DataRow` is returned and would have been processed with your `doOnEach()`.  The final frame `Terminate` is the signal from the client to the server to cleanly shutdown the connection.  This results in the server breaking the socket connection, which results in N

[2018-10-04 18:51] KaRkY commented on #14
To me it seems like nothing changed.
Relevant logs:
[code]

[2018-10-04 20:58] nebhale commented on #14
Hmm... I wonder if this is a change in 10.x actually.  All of our testing is against 9.x.

[2018-10-04 21:07] nebhale commented on #14
Nope, that's not it either.  Slightly modified code:

[code]

Behaves as yours does but without the connection drop (note the `server_version` `Parameter Status`):

[code]

Are you able to run our test suite on your machine?  Specifically, you'll need a Docker daemon to be running.

[2018-10-05 03:46] KaRkY commented on #14
No M5 and Master give errors.
Here are the maven logs:
https://gist.github.com/KaRkY/73ffcc033eb5def0b8542e80bfe6f958

[2018-10-05 13:43] nebhale commented on #14
Interesting.  I’d now bet that this is something specific to running on a Windows machine.  @davecramer, do you have any insight into how the Windows implentation might behave differently to the linux implementation after the `Terminate` frame is sent?

[2018-10-05 13:54] davecramer commented on #14
I suspect this is networking issue on the windows machine. I don't see any difference but we don't push it as hard.

[2018-10-05 14:50] gregturn opened #15 "Make r2dbc-spi-test a test-scoped dependency."

[2018-10-05 15:47] #15 closed

[2018-10-05 19:06] nebhale opened #16 "Error Response Possibly Lost In Batch and Statement"
Feels like [this](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/test/java/io/r2dbc/postgresql/PostgresqlBatchTest.java#L115) should verify an error.

[2018-10-06 14:42] calvernaz opened #17 "Mapping result error is not propagating upstream"
After playing a bit with the driver I notice that when an error happens while mapping a row the error wasn't being pushed upstream - so I registered a `doOnError` and propagate it upwards.

However the upstream hook `doOnError` ("2. doOnError") never gets called . Am I doing something wrong ?

[code]

[2018-10-09 16:05] davecramer opened #18 "Add LogicalDecoding"
PostgreSQL has a feature which enables streaming changes to the client
Add functionality for this

[2018-10-09 18:38] davecramer opened #19 "Handle multiple authentication methods is not correct."
The way the protocol works is that the backend sends a message requesting the authentication it desires
After the auth request, the next 4 bytes are the authentication method. I think what needs to be done is to have multiple handlers added to the startup message and then react to the correct authentication method ?

[2018-10-10 06:38] nebhale commented on #19
Looking at [51.1](https://www.postgresql.org/docs/9.6/static/protocol-flow.html), we [send the Startup Message](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/client/StartupMessageFlow.java#L60) and then [handle the resulting Authentication Message](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/client/StartupMessage

[2018-10-10 11:11] davecramer commented on #19
[51.1](https://www.postgresql.org/docs/9.6/static/protocol-flow.html) does not tell us in advance what authentication method will be I think we need to handle it directly in the [startupmessage](https://github.com/r2dbc/r2dbc-postgresql/blob/f207ea7602505d9459569defcf207e90bcc73ed7/src/main/java/io/r2dbc/postgresql/client/StartupMessageFlow.java#L66)
This would require some refactoring to not pres

[2018-10-10 11:43] nebhale commented on #19
Correct.  Effectively, the `StartupMessageFlow` needs a provider to dynamically determine at runtime.  I've [started the refactoring](https://github.com/r2dbc/r2dbc-postgresql/commit/e5b9141a40d9720d1a88f3170954c32135572d00), and now all we need to do is create `AuthenticationHandlers` for the rest of the authentication methods we would like to support.

[2018-10-10 13:34] davecramer commented on #19
I had to add

diff --git a/src/main/java/io/r2dbc/postgresql/PostgresqlConnection.java
b/src/main/java/io/r2dbc/postgresql/PostgresqlConnection.java
index 40d31af..6dfd1ac 100644
--- a/src/main/java/io/r2dbc/postgresql/PostgresqlConnection.java
+++ b/src/main/java/io/r2dbc/postgresql/PostgresqlConnection.java
@@ -23,6 +23,7 @@ import io.r2dbc.postgresql.client.TransactionStatus;
 import io.r2dbc.p

[2018-10-11 10:51] davecramer commented on #12
I'm looking at this and Optional really isn't used much
Stream maybe in https://github.com/r2dbc/r2dbc-postgresql/blob/a8ab0dab766251e7977437c53413d98f57b136d7/src/main/java/io/r2dbc/postgresql/message/backend/CommandComplete.java#L118
Was this already done in https://github.com/r2dbc/r2dbc-postgresql/commit/7f1238764d85d9b76816c40e99524a4c8887a67c
?

[2018-10-11 11:52] mp911de commented on #12
7f12387 was the first round. We have still `Stream` usage in https://github.com/r2dbc/r2dbc-postgresql/blob/7c0a14c658c5746361e6d6999d26c221b0639652/src/main/java/io/r2dbc/postgresql/client/Binding.java#L120 and https://github.com/r2dbc/r2dbc-postgresql/blob/c745656cd2fc7dd0878b1b6c03b4527917275145/src/main/java/io/r2dbc/postgresql/message/frontend/FrontendMessageUtils.java#L42 and a couple other

[2018-10-11 12:05] davecramer commented on #2
Can you give me an example of what you are looking to do here ?

[2018-10-14 12:21] davecramer opened #21 "implement binary transfer and codecs"
Implement binary protocol
All of the codecs are TEXT only

[2018-10-15 16:31] nebhale commented on #17
Confirmed.

[2018-10-15 17:01] nebhale commented on #17
Let me retract that.  I just ran the following test:

[code]

And the result was a passed test with viable logging:

[code]

Your use of `.subscribe()` directly seems suspect though.  There's nothing that would hold open the process (if this was in a small `main` method, the JVM would stop before the error returned).  You'll need something like a `CountDownLatch`, Reactor's `StepVerifier` or even

[2018-10-15 17:17] nebhale commented on #21
Well, the [numerics are binary](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/codec/IntegerCodec.java#L53-L71), but I take your point on the others.  Is this a bit of expertise you can lend?

[2018-10-15 17:29] nebhale commented on #2
Yeah, this is a really hard one, and probably not suitable to pick up.  Effectively, we use that really complicated `*MessageFlow` and a bunch of `Processor`s to get data into and out of `reactor-netty`.  What needs to happen is that we have to write a custom Reactor operator (implement `Subscriber` and `Publisher` from scratch directly) and act as the reactive to wire-protocol bridge.  It'll be m

[2018-10-15 17:30] nebhale commented on #14
@KaRkY I don't have a windows machine to hand at the moment, so while I'll leave this issue open and will endeavor to diagnose and fix the problem, it's not going to be a high-priority item for us.

[2018-10-15 17:38] KaRkY commented on #14
No problem I understand this is not production ready sofware. I would offer my help but I am not an expert in reactive programing and I know that this things are very hard to debug. I just wanted to play around and see how it could be used in types of systems I currently work at. Will try H2 implementation if it works maybe I can play with that.

[2018-10-15 17:58] davecramer commented on #2
No worries, I've found a bunch of other stuff to work on.

The way we loop through oid's for instance
and binary encoder/decoders

[2018-10-15 18:03] davecramer commented on #21
yes, next on my list..
Also we need to tell the backend which oids we want in binary in the startup message.

[2018-10-15 19:03] nebhale commented on #14
Sounds like a plan.  Thanks for your understanding.

[2018-10-15 19:04] nebhale commented on #21
Oh, that's interesting.  One thing I'd request, just since I don't have a deep background in PostgreSQL is that either commit messages or PRs include pointers to documentation for features like that.  I wasn't aware you could even do that :)

[2018-10-15 19:12] calvernaz commented on #17
I was using `Thread.sleep` to avoid the main thread to slip away. But I notice I was swalloing the error with `doOnError` - so that was a problem.

I changed a bit the example above to use a `CountDownLatch` to avoid ambiguity and instead of `doOnError` to `onErrorResume` where I throw an exception.

Your test show the error I have in the downstream subscriber - my question is/was can I push it up

[2018-10-15 19:16] davecramer commented on #21
Actually I need to recant, it is sent in the prepare message to tell pg we can receive it in binary.

But sure, I'll try to document

[2018-10-15 19:40] nebhale commented on #17
I'm not sure precisely what you're aiming to do.  In general, one of the tenants of reactive programming  is that subscriptions go up, items, error, and completion come down.  So if an error is generated as part of mapResult, only the things that happen after it in the flow (i.e. below in the way most code is written) would see it.  The content above has already executed and is in the past, so you

[2018-10-15 19:45] nebhale commented on #17
Also, just for reference a more idiomatic use of `CountDownLatch` (because your code still releases the thread too early, would be:

[code]

[2018-10-15 19:58] calvernaz commented on #17
Actually in mine is never releasing it - the counter is at 2. I'm aware of that version - I kept my `subscribe` clean for visualization.

This all started with the question if the exception thrown on the downstream subscriber would ever be caught on the outside `doOnError`.

[2018-10-15 21:45] nebhale commented on #17
The code as displayed here doesn't ever throw an exception on the downstream subscriber so I'm not sure how this example would prove or disprove that.  If your question is whether the exceptions thrown by either `result.map((rw, rm) -> rw.get("product_id", Integer.class))` or `throw new IllegalArgumentException();` are encountered by `LOG.error("2. doOnError", throwable);`, then the answer is yes.

[2018-10-15 22:48] calvernaz commented on #17
I'm calling downstream subscriber to the `onErrorResume` where I throw an exception.

Yes, that's my question and it's not happening.

Those are exactly my expectations, however is not happening.

I attached a file above with the complete example.

[2018-10-15 23:48] calvernaz commented on #17
I get something similar if I throw something intentionally wrong. But not in my specific case - if I have time I'll try to dig this out.

[2018-10-16 00:35] robertroeser opened #23 "Getting this error - FATAL: sorry, too many clients already"
When a running several thousands queries in a row - single selects - I get this error:
2018-10-15 17:27:43.011 PDT [33855] FATAL:  sorry, too many clients already

Here's the java client code:
[code]

This is what the table looks like:
[code]

[2018-10-16 13:29] nebhale commented on #23
Funny enough, @rdegnan and @smaldini ran into this in their demo.  The problem is that there is no connection pooling (yet, @simonbasle is working on it) and because of the `flatMap()`, you're creating more connections than the database will accept.  If you restrict the parallelism of `flatMap()` until we've got pooling in place (8 or 4 probably), it'll work for you.

But rest assured, we know tha

[2018-10-16 20:03] robertroeser commented on #23
@nebhale I figured it was something like - but wasn't sure. I'll try it out.

[2018-10-16 21:18] nebhale commented on #17
One thing to look at is whether the select statement actually returns any rows.  I had to add that `getJdbcOperations().execute("INSERT INTO test VALUES (100)");` just to trigger the failure in the first place.

[2018-10-17 08:13] calvernaz commented on #17
It's not the case here, I have a full schema with data and I can debug the results.

[2018-10-17 10:01] davecramer commented on #23
or put pgbouncer in front of it...

[2018-10-17 18:46] davecramer commented on #23
@nebhale I'm curious if applications running now are not closing connections how is a connection pool going to mitigate this ?

[2018-10-18 00:02] nebhale commented on #23
@davecramer The connections [are being closed](https://github.com/r2dbc/r2dbc-client/blob/master/src/main/java/io/r2dbc/client/R2dbc.java#L124-L125), the problem here is just that they're getting opened faster (in parallel) than they can be closed.  A connection pool would delay giving a connection out (`ConnectionFactory.create()`) once the fixed sized pool had been exhausted.  A wrapper around t

[2018-10-18 12:43] davecramer commented on #23
@nebhale is there somewhere we can discuss the desired features for the pool implementation ?

[2018-10-18 16:55] simonbasle commented on #23
@davecramer as we're not sure yet where this will live, but at least we're pretty sure this will live in the `reactor` org, and it will NOT be particularly DB oriented (generic object pooling). Let me open an issue in reactor/reactor to gather some ideas and early feedback from users like you.

[2018-10-18 16:59] simonbasle commented on #23
@davecramer @nebhale @smaldini https://github.com/reactor/reactor/issues/651

[2018-10-20 09:52] daelmaak opened #26 "Conflict between io.projectreactor.netty and io.projectreactor.ipc"
I am building a small service for which I use spring webflux boot on netty together with r2dbc-postgresql. I am able to start it just alright and when I perform request I get the response back.

The problem comes up when in request processing an interaction with DB is involved via r2dbc-postgresql. I keep getting initialization errors for class `ReactorNetty.java` from io.projectreactor.netty **af

[2018-10-20 09:59] violetagg commented on #26
@daelmaak This is fixed with Reactor Netty 0.8.1.RELEASE. Can you try it ?

[2018-10-20 10:08] daelmaak commented on #26
You are absolutely right, with 0.8.1 it works!

[2018-10-22 07:45] chang-chao commented on #17
@calvernaz In the result of your SQL, the `product_id` column does exist( `order_details.product_id` ),  so there should not be mapping errors.
Would you please look at that?

[2018-10-22 18:39] calvernaz commented on #17
@chang-chao it does exist (see image below). The error that I'm forcing is a type cast error.

<img width="1126" alt="screenshot 2018-10-22 at 19 37 30" src="https://user-images.githubusercontent.com/1269712/47311564-fcee0900-d631-11e8-9101-ab4df2afac57.png">

[2018-10-22 20:18] chang-chao commented on #17
@calvernaz Do you mean that the type of product_id column in DB is not int and you expect a type casting error?
The IntCodec uses parseInt method to parse the value, so if the value of the column value can be converted to an integer, no error will happen.

[2018-10-22 21:57] chang-chao commented on #17
Can you post the detail of the exception you got ?
And which version of r2dbc are you using?

[2018-10-23 02:48] chang-chao commented on #17
@calvernaz It is strange, I even created a [sample repository](https://github.com/chang-chao/r2dbc-postgresql-issue17), with almost the same code with the one you gave above,  where  the two `doOnError` s do get called.

[2018-10-24 20:56] calvernaz commented on #17
The difference is that I'm trying to move the error upstream and maybe it isn't possible.

[example repository](https://github.com/calvernaz/r2dbc-tests)

[2018-10-25 05:47] chang-chao commented on #17
@calvernaz What you tried to do should have been done. you can try limiting the query result row count by adding a `limit 10`  and check the result.

@nebhale In the reproducing case, the query result has  2155  rows, when mapping exception occurs for the first row , client sends `Terminate` , data rows continues to come and `CommandComplete` and `ReadyForQuery`  are  received after row completes,

[2018-10-31 01:36] chang-chao commented on #17
@calvernaz The issue should be fixed by #29 , would you please check it using the snapshot version of r2dbc-postgresql ?

[2018-10-31 20:00] calvernaz commented on #17
I'm afraid it doesn't fix the issue.

[2018-11-01 02:06] chang-chao commented on #17
@calvernaz It seems that when you tested 6 hours ago, the BUILD-SNAPSHOT jar compiled from the latest source was not pushed to maven snapshot repository.
Now I confirmed that it has been pushed  now .
Make sure to force a maven snapshot update by using the command `mvn clean compile -U` or some other ways.

[2018-11-01 18:59] calvernaz commented on #17
Yey, this indeed fixes the issue. Thanks @chang-chao and @nebhale

[2018-11-01 18:59] #17 closed

[2018-11-01 18:59] nebhale commented on #17
Thanks to @chang-chao especially!

[2018-11-02 18:20] nebhale commented on #14
@KaRkY Any chance that the latest changes around `Terminate` in #33 fix this issue for you?  Snapshots should be available now.

[2018-11-03 01:12] KaRkY commented on #14
Now there is another error but I think it is PG10 related will try it with 9.5 tomorow.

https://gist.github.com/KaRkY/8afc569ad4c019a638b2e3e868fd9c08#file-postgreserror

[2018-11-03 11:30] KaRkY commented on #14
That is what I get for trying to do things at 2 in the morning.

Ok now it executes without error so I think that the original cause was fixed.

[2018-11-03 13:53] nebhale commented on #14
Great to hear.  Thanks for the update.

[2018-11-03 13:53] #14 closed

[2018-11-03 16:52] davecramer opened #34 "Error message for authentication failure is not very useful"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-11-05 15:45] davecramer commented on #34
It's possible that I over reacted to this after reading the whole log message.

I'm thinking that a top-level exception would be less surprising though.

[2018-11-05 15:54] nebhale commented on #34
Yeah, I can totally get on board with that.  It's a regular enough error that's easily identifiable that it should be promoted.

[2018-11-05 20:16] davecramer opened #36 "rename io.r2dbc.postgresql.message.Format.TEXT to io.r2dbc.postgresql.message.Format.TEXT_FORMAT"
There is some ambiguity between import static `io.r2dbc.postgresql.message.Format.TEXT` and the `TEXT` sql type.

I'm open to some other name, but currently it is confusing.

[2018-11-05 22:46] nebhale commented on #36
I'll go ahead and make the change, but wanted to confirm that the only place that SQL `TEXT` type is actually ever used in the driver is in the `StringCodec`.

[2018-11-05 22:49] #36 closed

[2018-11-08 15:40] crivera commented on #8
Hi

i just downloaded the example from https://github.com/hantsy/spring-reactive-sample/tree/master/data-r2dbc and tried to run it but get the same error.

`
ERROR reactor.Flux.OnErrorResume.2 -
org.springframework.data.mapping.MappingException: Could not read property @org.springframework.data.relational.core.mapping.Column(value="title", keyColumn="")private java.lang.String com.example.demo.Pos

[2018-11-14 21:29] davecramer commented on #21
I think  https://github.com/r2dbc/r2dbc-postgresql/blob/03b53d3e802f7700bf3bcff3f62131e0e2e31906/src/main/java/io/r2dbc/postgresql/client/ExtendedQueryMessageFlow.java#L103

needs to be changed so that Describe is before the bind so that we have the RowDescriptions to be able to send the binary formats to the bind command

[2018-11-15 13:21] sixdouglas opened #37 "Postgresql Schema"
Is it possible to set the DB Schema in the connection?

[2018-11-15 13:45] nebhale commented on #37
PostgreSQL uses the term “database” for what many other databases term “schemas”.  The builder [has a configurator](
https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/PostgresqlConnectionConfiguration.java#L145) for that.

[2018-11-15 15:11] sixdouglas commented on #37
Thanks for this quick replay. :thumbsup:
But there is also a schema thing in the PostgresSql objects tree that can be set this way:
`jdbc:postgresql://host:port/database?currentSchema=schema`
is there a way to address this functionality?

[2018-11-15 16:25] nebhale commented on #37
At issue is that what you've described is a JDBC URI which isn't something that the underlying wire-protocol understands.  I'm unclear how `currentSchema=schema` is translated into the messages sent during the [Startup Flow](https://www.postgresql.org/docs/11/protocol-flow.html#id-1.10.5.7.3).  @davecramer any insight here?

[2018-11-16 03:07] davecramer commented on #37
@nebhale

Current schema is much like a namespace. Typically the default schema is 'public'

so objects can be referred to as schema.table for instance or schema.function

the "default" schema is set in the search_path. We probably should have something called setSchema which allows one to change the schema.

[2018-11-16 14:15] nebhale commented on #37
@davecramer We’re on the same page with regards to adding the feature, my questions was how.  I’m struggling to find anything in the [protocol documentation](
https://www.postgresql.org/docs/11/protocol-flow.html#id-1.10.5.7.3) that describes how this happens on the wire.

[2018-11-16 14:55] davecramer commented on #37
Its just SQL set search_path='newpath'

Any session GUC can be set that way

On Fri, Nov 16, 2018, 9:15 AM Ben Hale <notifications@github.com wrote:

[2018-11-16 16:11] sixdouglas commented on #37
Ok, so would have to execute a SQL statement with just "set search_path='schemaName'" right after the login and that would do the trick?

[2018-11-17 00:09] davecramer commented on #37
I think the thing to do here is have a setSessionParameter method which
would send any name, value pair
we also need a resetSession method to reset them all for connection pools.
This may be a unique thing for postgres. I'm not sure.

Dave Cramer

On Fri, 16 Nov 2018 at 11:11, SIX Douglas <notifications@github.com> wrote:

[2018-11-17 07:50] sixdouglas commented on #37
I agree with you, to be able to reset those parameters, we would have to query their values before setting them to the new one.
I don't think it is a postgres specific. For MySql you can choose to set the [autocommit](https://dev.mysql.com/doc/refman/8.0/en/innodb-autocommit-commit-rollback.html) or the [charset-encoding](https://dev.mysql.com/doc/refman/8.0/en/charset-connection.html). I guess it

[2018-11-17 12:53] davecramer commented on #37
Well in postgres there is a reset which sets them to the default. How this
is implemented will be db dependent.
as far as autocommit goes this is not an option in postgres. There is no
session GUC for that, as I said this will be unique to each vendor.

Dave Cramer

On Sat, 17 Nov 2018 at 02:50, SIX Douglas <notifications@github.com> wrote:

[2018-11-26 17:52] nebhale commented on #37
Just to clarify for my knowledge, `SET` isn't an SQL standard command, right?  This is something implemented by some databases to allow this kind of behavior?

[2018-11-26 17:54] davecramer commented on #37
On Mon, 26 Nov 2018 at 12:52, Ben Hale <notifications@github.com> wrote:

Correct, I have no clue about other databases. Keep in mind the way PG
implements schema's isn't exactly standard either

FWIW, there are bunch of others as well, and GPDB will also have a bunch of
unique requirements here.

Dave

[2018-11-26 20:17] nebhale commented on #37
Is this something that should be available on the `ConnectionFactory` or `ConnectionConfiguration` and automatically applied to all created connections?

[2018-11-26 21:02] nebhale commented on #37
@davecramer How is this handled in the JDBC world?

[2018-11-26 21:11] davecramer commented on #37
@nebhale adhoc.

So where the API asks us to do something we do it, such as setSchema https://github.com/pgjdbc/pgjdbc/blob/21e126f451df667627c1cc3a0acfb3c38be45ffa/pgjdbc/src/main/java/org/postgresql/jdbc/PgConnection.java#L1515-L1532

One of the biggest problems we have is *all* of the sometimes conflicting connection options and more on the way. see https://github.com/pgjdbc/pgjdbc/issues/222#i

[2018-12-05 07:44] mp911de opened #41 "Postgres Arrays: Row.get(…) should return array instead of singular value"
Calling `Row.get("my_array_column")` where `my_array_column` is an array type (e.g. Postgres `int[]`) returns the first array value instead of returing the array.

/cc @rdegnan

[2018-12-05 07:46] mp911de opened #42 "Postgres Arrays: Support for multi-dimensional arrays"
Right now, the driver supports single-dimensional arrays. Postgres also supports multi-dimensional arrays such as `int[][]`:

[code]

The driver should also support multi-dimensional arrays.

See also: https://www.postgresql.org/docs/11/arrays.html

/cc @rdegnan

[2018-12-05 07:49] mp911de commented on #41
Turns out this was rather an impl bug on our side. Sorry for the noise.

[2018-12-05 07:49] #41 closed

[2018-12-05 07:57] mp911de commented on #41
Our issue is related to #40 as we're receiving right now `Object[]` instead of `Integer[]`.

[2018-12-10 22:07] meltsufin opened #43 "Support custom connection SocketFactory"
Notably Google Cloud's Cloud SQL makes use of a [custom](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory) `javax.net.SocketFactory` for connecting to PostgreSQL.

[2018-12-11 19:38] nebhale opened #44 "Add FluxDiscardOnCancel operator"
https://github.com/r2dbc/r2dbc-mssql/issues/6

[2018-12-11 19:55] nebhale commented on #37
@sixdouglas Can you please confirm that adding the `setSchema()` to the `PostgresqlConnection` is sufficient for your needs?  Or do you need it to be part of the `PostgresqlConnectionFactoryConfiguration` type for all created connections?

[2018-12-12 19:41] sixdouglas commented on #37
I would say that keeping it at the `PostgresqlConnection` level is suffisant for the moment. I'm planning to use it in Spring Boot so I think the easiest will be to create a datasource by Repository (like this: https://medium.com/@joeclever/using-multiple-datasources-with-spring-boot-and-spring-data-6430b00c02e7)

[2018-12-14 00:00] bbilger opened #47 "StringCodec#doCanDecode should handle BPCHAR [character(n)]"
Columns with type `character(n)` are mapped to `PostgresqlObjectId#BPCHAR` but aren't considered as being decodable by `StringCodec#doCanDecode`.
Actually I am getting an `IllegalArgumentException` trying to decode `Row#get(COLNAME, String.class` such a column thrown in `DefaultCodecs#decode`.

[2018-12-28 20:17] robertroeser opened #48 "memory leak in BackendMessageDecoder"
Hi- doing some testing and it appears there is a memory leak in the BackendMessageDecoder. It doesn't seem to show up unless you're under load, and run for a while. I turned on the Netty leak detector and it prints warnings pointing to BackendMessageDecoder, and then I get DirectMemory OOM exceptions. You might want to use the CompositeByteBuf API directly.

[2019-01-02 08:44] ratamaa opened #50 "Binding parameters to a statement with newlines (\n) does not work"
I would like to include newline characters (\n) in query string to improve readability, but this causes an UnsupportedOperationException "Binding parameters is not supported for the statement" to be thrown if parameters are bound to the statement.

E.g. query
[code]
is not matched by ExtendedQueryPostgresqlStatement::supports-method ( https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/

[2019-01-02 22:39] nebhale opened #51 "Null values should return IllegalArgumentException"
Spec Update

r2dbc/r2dbc-spi#31

[2019-01-04 20:17] #48 closed

[2019-01-04 22:59] nebhale commented on #34
@uaihebert I think we came to the conclusion that while the message is clear there's enough extra noise around it, that it's not intuitive.  We should probably special-case this particular failure (maybe matching on code `28P01`) and add a subclass of `PostgresqlServerErrorException` for `PostgresqlAuthenticationFailure`.  I believe the best interception point is likely in `StartupMessageFlow` if

[2019-01-07 16:37] nebhale commented on #37
The way I've ended up choosing to implement this is a setting on `PostgresqlConnectionConfiguration` that configures the default for all connections (this is the equivalent of the `currentSchema` parameter on the JDBC URI).  For users that would like to set it on a connection once they have that connection, directly executing the `SET SCHEMA '%s'` statement is appropriate.

[2019-01-07 16:41] davecramer commented on #37
FYI,

SET SCHEMA is actually an alias for SET SEARCH_PATH which can have multiple
paths, typically it is $user,public by default.
There is also a RESET SCHEMA

Dave Cramer

On Mon, 7 Jan 2019 at 11:37, Ben Hale <notifications@github.com> wrote:

[2019-01-07 16:49] #37 closed

[2019-01-07 20:57] #47 closed

[2019-01-07 21:04] #50 closed

[2019-01-14 16:45] nebhale opened #55 "Implement ConnectionFactory Discovery"
This driver implementation should implement `ConnectionFactory` discovery.

r2dbc/r2dbc-spi#10

[2019-01-14 23:01] #55 closed

[2019-01-15 13:35] nebhale opened #56 "Support for ConnectionTimeout Configuration"
Currently we expose a [`CONNECT_TIMEOUT`](https://github.com/r2dbc/r2dbc-spi/blob/master/r2dbc-spi/src/main/java/io/r2dbc/spi/ConnectionFactoryOptions.java#L33) option as part of the SPI.  This implementation does not honor it.  Investigation is needed to figure out how to map this option to the `reactor-netty` configuration and the implement it.

[2019-01-15 13:35] nebhale opened #57 "Documentation for ConnectionFactory Discovery"
https://github.com/r2dbc/r2dbc-mssql/commit/b439b02b41875abe003812ff4875d78030994149

[2019-01-15 13:36] nebhale opened #58 "Extract Default Port to Constant"
https://github.com/r2dbc/r2dbc-mssql/commit/b439b02b41875abe003812ff4875d78030994149

[2019-01-15 13:37] nebhale opened #59 "Investigate TLS connectivity"

[2019-01-18 20:30] nebhale opened #60 "Add Statement.returnGeneratedValues(String...)"
Add `Statement.returnGeneratedValues(String...)`

https://github.com/r2dbc/r2dbc-spi/pull/25

[2019-01-18 23:16] #60 closed

[2019-01-28 19:58] nebhale opened #61 "Document supported data types"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-01-28 20:35] #58 closed

[2019-01-29 07:53] nbabic298 commented on #61
I would like to claim this issue.

[2019-01-29 08:09] mp911de commented on #61
Sounds good! Let us know if you need any assistance.

[2019-01-29 17:23] #57 closed

[2019-01-29 17:30] nebhale opened #62 "TestContainers 1.10.6"
https://github.com/testcontainers/testcontainers-java/releases/tag/1.10.6

[2019-01-29 18:21] nebhale commented on #62
Resolved by 90d4ae7a0bf8bb5a2439c6b98a08cdc0932b849e

[2019-01-29 18:21] #62 closed

[2019-01-29 18:47] nebhale commented on #61
@nbabic298 Consider it claimed!

[2019-01-30 00:18] #6 closed

[2019-01-30 10:58] mp911de commented on #56
Sounds good, consider it claimed. Please feel free to ask any questions at all. We'll look forward to your pull request.

[2019-01-30 14:49] nebhale opened #64 "Enhanced ColumnMetadata"
Evaluate the changes in r2dbc/r2dbc-spi#42 for updates in this implementation.

[2019-01-30 15:38] Squiry commented on #56
Well, I only have one question: how to pass timeout value to ReactorNettyClient#connect? It already has thre arguments, timeout would be the fourthone. Is it ok?

[2019-01-31 18:08] #64 closed

[2019-01-31 18:23] #56 closed

[2019-01-31 19:19] Squiry commented on #59
@nebhale
I've tried this one [here](https://github.com/Squiry/r2dbc-postgresql/tree/59-ssl-connectivity), but I'm not sure is it worth a pull request now. Would you mind taking a look at this?

[2019-01-31 20:01] nebhale commented on #59
@Squiry That looks like it's headed in the right direction.  Any PR for this is going to get held until after M7 is released, so you've got some time to polish it up and play around with it.

[2019-02-01 08:33] mp911de opened #67 "Row.get(…) fails for array-typed values"
Calling `Row.get(…)` or `Row.get(…, Object.class)` fails for array-typed columns with:

[code]

## Expectation

`Row.get(…)` should return the array value with the most appropriate type. For `INT[]` that should be `Integer[].class`.

## Steps to reproduce

SQL:

[code]

Code:

[code]

[2019-02-01 09:31] marekjeszka opened #68 "Example from README is not working"
Usage of:
[code]
gives this compiler error: `incompatible types: org.reactivestreams.Publisher<capture#1 of ? extends io.r2dbc.spi.Connection> cannot be converted to reactor.core.publisher.Mono<io.r2dbc.spi.Connection>`

I was able to fix the error using `PostgresqlConnectionFactory` and `Mono<PostgresqlConnection>`. But it still doesn't make the example usable. Here is the error:
[code]

[2019-02-01 14:00] nebhale commented on #68
Yep, definitely won’t work (the generic needs to be `? extends Connection` at best).  @mp911de I got the example from yours and am pretty sure that the same issue exists.

[2019-02-01 14:10] mp911de commented on #68
Documentation should rather say:

[code]

[2019-02-01 14:14] nebhale commented on #67
This may be because it’s [simply incomplete](
https://github.com/r2dbc/r2dbc-postgresql/pull/54).  Guess that one _does_ need to make it in for M7.

[2019-02-01 14:36] marekjeszka commented on #68
Thanks for clarification @mp911de.
This solves the first part. Is there also known fix to make `connection.createStatement(` usable?

[2019-02-01 15:17] mp911de commented on #67
There was some change between M6 and M7 as it has worked with M6.

[2019-02-01 15:21] mp911de commented on #68
Using Project Reactor (or RxJava 2), you can use `flatMap`/`flatMapMany` operators to continue with the flow:

[code]

[2019-02-01 15:46] nebhale commented on #68
@gregturn Your docs will have a similar issue.  I’ll be updating mine to match @mp911de’s once I hit the office.

[2019-02-01 21:38] Squiry commented on #67
Well, I can fix this with a few lines, but the whole `Object.class` decoding (not only for arrays) thing stands on type erasure, I'm not sure how bad is that.

[2019-02-03 18:15] cambierr opened #70 "Support of rw/ro database servers"
An interesting feature would be to be able to use a master server (for read/writes) and one-to-n slave servers (for reads only).

Is there any plans for this ?

[2019-02-03 18:16] cambierr opened #71 "Support connection pooling"
To boost performances, it would be interesting to implement connection pooling.
Is there any plans for this ?

[2019-02-04 06:48] mp911de commented on #71
Definitely! We require a reactive pooling foundation to build a R2DBC connection pool on top. This pre-requisite isn’t there yet so it will take a while until we get to connection pooling.

[2019-02-04 06:53] mp911de commented on #70
Wouldn’t that be rather a concern of a higher level component? Some sort of routing proxy that uses various connections depending on the statement.

[2019-02-04 14:14] nebhale commented on #71
It is actively being worked on as we speak though.

[2019-02-04 14:15] #71 closed

[2019-02-04 14:17] nebhale commented on #70
I would agree and would encourage its development.  In fact, you might be able to use https://github.com/r2dbc/r2dbc-proxy to implement such a thing.  An R2DBC driver implementation represents a factory for creating connections to a single database, and as such is an inappropriate level of abstraction to implement this feature.

[2019-02-04 14:17] #70 closed

[2019-02-07 18:42] uaihebert commented on #34
hello again @nebhale , how are you?

I know we talked about it sometime ago, but I was able to start and finish this today.

I know this is the first round, and suggestion are welcome.

This is how the exception is being displayed:
![image](https://user-images.githubusercontent.com/2014377/52434805-83125a80-2b10-11e9-940a-43e02e7d49a1.png)

is this the correct idea? regards

[2019-02-08 07:56] mp911de commented on #34
Looks good and great work. Future tip: Use code fences and paste the exception as text. This makes it possible to search for the text.

I left a few comments on your pull request #72.

[2019-02-08 09:05] uaihebert commented on #34
thank you for the response.

thank you also for the tip regarding the code instead of image.

I never thought about this search possibility 😅

[2019-02-08 19:35] #68 closed

[2019-02-08 20:31] nebhale opened #73 "M7 Changelog"

[2019-02-08 20:32] nebhale opened #74 "M8 Changelog"

[2019-02-08 20:42] #73 closed

[2019-02-10 21:53] rifatdover commented on #61
@nbabic298 I think it will be better if it will be sync for the integrity of documentation.
with [mssql](https://github.com/r2dbc/r2dbc-mssql/issues/18https://github.com/r2dbc/r2dbc-mssql/issues/18)
Are you working on it?

[2019-02-11 07:28] mp911de commented on #61
FTR: I left some comments on the SQL Server ticket. Let's aim for consistency as soon as we agreed on a particular style.

[2019-02-11 15:58] mp911de commented on #61
FYI: Here's an example how Reactiverse's driver explain data type support: https://github.com/reactiverse/reactive-pg-client#supported-data-types

[2019-02-11 23:20] uaihebert commented on #16
I was looking at this problem. and I noticed this:
[code]

If I add the flapMap transform action, than we have the expected error. I think that by not invoking the `flatMap` the response was not being triggered and the error not being emitted.

Is this assumption correct?

I will submit the code so that you guys can take a look.

[2019-02-12 07:50] mp911de commented on #16
Not consuming the result feels like fire and forget. I argue that errors should be propagated if the result is consumed (i.e. using `flatMap(…)` in this example).

[2019-02-12 09:17] uaihebert commented on #16
Got it.

I will leave the PR as it is. ( :

[2019-02-13 18:47] rinokadijk commented on #59
Does this issue include certificates? Like in: https://www.cockroachlabs.com/docs/dev/build-a-java-app-with-cockroachdb.html

[2019-02-26 13:21] mp911de opened #77 "Add ConnectionFactoryProvider.getDriver() implementation"
See r2dbc/r2dbc-spi#49

[2019-02-26 19:32] nbenjamin commented on #61
@nbabic298 Are you working on this?
@nebhale @mp911de since there was no activity on this so far, can I claim this?

[2019-02-27 07:45] nbabic298 commented on #61
I was swamped this month and probably won't have time to complete this issue anytime soon, @nbenjamin yes you can claim this. Sorry guys

[2019-02-27 14:45] mp911de commented on #61
Thanks for the update. @nbenjamin feel free to pick up on this end. The docs for [SQL Server](https://github.com/r2dbc/r2dbc-mssql/blob/master/README.md#data-type-mapping) are already available on `r2dbc-mssql`'s `master` branch.

[2019-02-27 15:08] nbenjamin commented on #61
@mp911de  thanks for the reference. Here is the PR https://github.com/r2dbc/r2dbc-postgresql/pull/79

[2019-02-27 15:15] nbenjamin commented on #61
@mp911de @nebhale  Master build [broke](https://ci.spring.io/builds/61393). Latest changes from `connection-factory-provider-get-driver` branch need to merge in to master

[2019-02-27 15:21] mp911de commented on #61
There's #78 that needs to be merged.

[2019-02-28 09:57] rj-hwang opened #80 "Execute multi-line select sql failed"
Using 1.0.0.M6 execute bellow multi-line select sql failed:

[code]

r2dbc-postgres error:

[code]

r2dbc-h2 error:

[code]

But execute success if change to a single line sql such as 'select id from T where id in ($1, $2) order by id asc'.

[2019-02-28 09:58] mp911de commented on #80
Have you retested the scenario with 1.0.0.M7?

[2019-02-28 10:34] rj-hwang commented on #80
The problem fixed after upgrade to 1.0.0.M7.

[2019-02-28 10:34] #80 closed

[2019-02-28 10:35] mp911de commented on #80
Thanks for retrying and the update.

[2019-02-28 10:53] rj-hwang opened #81 "Method run forever if call Result map with bind-param insert into sql"
With 1.0.0.M7 or M6, bellow method will run forever :

[code]

But if change to `'c.createStatement("insert into T(id) values(9)").execute()'`, test ok.

[2019-02-28 10:56] rj-hwang commented on #81
Test case is [here](https://github.com/start-java/start-r2dbc/blob/r2dbc-postgres/issue81/src/test/java/tech/simter/start/r2dbc/ConnectionFactoryTest.java#L172)

[2019-03-01 02:42] rj-hwang opened #82 "Execute multiple statements in a single sql with bind params failed"
Using 1.0.0.M7 execute multiple statements in a single sql with bind params failed :

[code]

r2dbc-postgres error :

[code]

r2dbc-h2 error :

[code]

But execute success if change the bind params to raw values. Such as 'insert into T(id) values(1);insert into T(id) values(2), (3);'.

[2019-03-01 02:50] rj-hwang commented on #82
Test case is [here](https://github.com/start-java/start-r2dbc/blob/r2dbc-postgres/issue82/src/test/java/tech/simter/start/r2dbc/ConnectionFactoryTest.java#L256).

[2019-03-01 09:22] rj-hwang opened #83 "misoperation"

[2019-03-01 09:23] #83 closed

[2019-03-05 10:18] #61 closed

[2019-03-05 10:20] #77 closed

[2019-03-05 10:29] mp911de commented on #21
See also #76.

[2019-03-12 08:19] Squiry commented on #82
The postgresql documentation about extended query [says](https://www.postgresql.org/docs/current/protocol-flow.html#PROTOCOL-FLOW-EXT-QUERY)

r2dbc-postgres error is pretty verbose too.

[2019-03-13 07:48] schauder opened #86 "Row.get seems to mix up columns"
I'm preparing an example for a conference talk.

I'm storing 1703 rows of data in a simple table
[code]

When I try to load it again with:
[code]
I get some rows back (typically ~30 sometimes up to ~150) before I get an:

[code]
(Full stack trace is below)

The fun part is that the string quoted seems most of the time two non-printable characters (boxes in the IDE console) but sometimes small bits

[2019-03-13 15:53] mp911de commented on #86
I wonder whether Spring Data R2DBC tries to read the value twice. Last time I checked, it was possible to read a value only once, the second attempt failed because the backing buffer was exhausted (read: readIndex() was not reset).

[2019-03-13 18:05] croudet commented on #86
I had the same problem when I tried to use r2dbc-postgresql with micronaut (https://micronaut.io/).

R2bc was able to retrieve couples of rows but then the buffer index will wrong and will get the same exception.

[2019-03-18 13:16] brushmate opened #89 "Decoding empty arrays in FORMAT_TEXT fails"
Decoding an empty long array results in a `NumberFormatException`.

    @Test
    void decodeItem() {
        LongArrayCodec codec = new LongArrayCodec(TEST);

        assertThat(codec.decode(TEST.buffer(16).writeLong(100).writeLong(200), FORMAT_BINARY, Long[].class)).isEqualTo(new long[]{100, 200});
        assertThat(codec.decode(TEST.buffer(), FORMAT_BINARY, Long[].class)).isEqualTo(new long[]{

[2019-03-19 16:39] mike-neck opened #91 "io.r2dbc.spi.Row.get(Object,Class<T>) fails when r2dbc-postgres is used with Kotlin coroutine."
`io.r2dbc.spi.Row.get(Object,Class<T>)` fails when r2dbc-postgres is used with Kotlin coroutine.

Versions
---

* r2dbc-postgres : 1.0.0.M7
* Kotlin : 1.3.20
* kotlinx-coroutines-reactor: 1.1.1

Code
---

[code]

StackTrace
---

[code]

Before `io.netty.buffer.ByteBufUtil.decodeString(ByteBufUtil.java:796)` is called, `ByteBuf`'s `readableBytes()` returns `9`. But `ByteBuf` returns `0` after enter

[2019-04-04 17:01] skroll opened #95 "Need a mechanism to dynamically register codecs for types after connection time"
The driver currently handles decoding/encoding via an enum of well-known OIDs. For all the built-in types of Postgres, this is fine. However, types that come from extensions will not have a fixed OID value, they will be arbitrarily assigned by the database server when the extensions are installed. An common example of this is postgis.

The way the postgres jdbc driver handles this is that external

[2019-04-05 09:09] mp911de commented on #95
Thanks a lot for your ticket.

That's a pretty decent proposal that also reflects Postgres dynamic type handling. I had a brief look into the type system and found that our driver needs at least to load types/oid's into a cache when initializing the driver.

Using `Publisher` comes typically with overhead, and ideally, we fetch type data once and keep it in a cache. I don't know the exact requirem

[2019-04-05 16:29] skroll commented on #95
Yeah, I think I guess I just wanted to get a discussion going, since they all sort of tie together with the Codec system and the vast amount of types that can exist in postgres.

Also there are things like the hstore mechanism which allow for storing JSON in a column, which without a custom provider, would either require the driver to make a decision about the way to represent the object, either b

[2019-04-05 18:05] kwidjaja1312 commented on #71
Hi, does this ticket closed as it has been implemented or more because the comment from mp911de?

I am currently doing a research on this driver to be used in a greenfield project.

Thanks for all the work though. Looking for ward to have this enhancement soon.

[2019-04-05 19:38] mp911de commented on #71
Thanks for this reminder. You can use connection pooling with `r2dbc-pool`. The project repo is at https://github.com/r2dbc/r2dbc-pool. Reactive connection pooling is built on top of `reactor-pool` and things are in `Flux<Development>` (pun intended). Although APIs aren't finalized yet, you can give snapshots a try:

[code]

[2019-04-13 06:20] mp911de opened #98 "Use R2DBC Exception hierarchy for driver exceptions"
See r2dbc/r2dbc-spi#47

[2019-04-15 15:40] gregturn opened #99 "Add support for BLOB/CLOB types."
See https://github.com/r2dbc/r2dbc-spi/pull/51 for SPI details.

[2019-04-15 20:09] nebhale commented on #99
After all this, PostgreSQL doesn't support *LOBs? 😉

@davecramer do you have any recommendations on how to handle *LOB concepts with PostgreSQL, just assume they'll come back as `BYTEA` or `TEXT`?

[2019-04-17 18:38] nebhale commented on #99
Resolved by 5a4de4d.

[2019-04-17 18:38] #99 closed

[2019-04-17 22:05] #34 closed

[2019-04-17 22:16] #16 closed

[2019-04-17 22:38] #21 closed

[2019-04-18 16:31] #81 closed

[2019-04-18 16:43] #89 closed

[2019-04-18 16:50] nebhale opened #100 "ConnectionFactoryProvider Does Not Treat Port as Optional"
Currently, the `ConnectionFactoryProvider` implementation requires port to be set.  It shouldn't require this.

[2019-04-18 16:57] #100 closed

[2019-04-18 17:12] nebhale commented on #42
resolved by #54

[2019-04-18 17:12] #42 closed

[2019-04-18 17:13] nebhale commented on #43
Ping @violetagg.

[2019-04-18 17:15] nebhale commented on #59
@rinokadijk I'd expect certificates to be managed by the standard Java SSL context APIs, at least in a first incarnation.

[2019-04-18 17:15] nebhale commented on #67
Resolved by #69

[2019-04-18 17:15] #67 closed

[2019-04-18 17:18] nebhale commented on #82
As @Squiry says, PostgreSQL doesn't support both binding and multiple statements (as defined by the existence of `;` in the statement) in the same invocation.  H2 has different requirements.

[2019-04-18 17:18] #82 closed

[2019-04-18 18:17] nebhale commented on #86
@schauder Sorry for the delay in getting back to you on this.  I just tried to reproduce the problem against the driver directly (without Spring Data involved) and couldn't get the behavior you're describing.  Take a look at [my Gist](https://gist.github.com/nebhale/e75f426a1406461410c8ba99f550cdfd) and let me know if I've done something incorrect.

[2019-04-19 13:56] croudet commented on #86
On my end, I have something like that:
[code]
And if I use such a subscriber (`Subsciption.request` in antoher thread):
[code]
I get:
[code]

[2019-04-23 06:57] schauder commented on #86
@nebhale the Gist seems fine.

So this might be a Spring Data issue. Is there a way to move this issue over to Spring Data R2DBC?

[2019-04-23 08:25] mp911de commented on #86
This isn't a Spring Data issue. It's related to the context of how we access Postgres. I'm not able to reproduce the issue in a standalone-gist. Running the exact same code with WebFlux and SSE (this is the missing bit to reproduce the issue) causes for me reliably `java.lang.NumberFormatException: For input string: "  "`.

[2019-04-23 08:48] schauder commented on #86
I wonder if it is a concurrency issue. Maybe flatmapping/grouping the result makes it possible to reproduce it?

[2019-04-23 08:52] mp911de commented on #86
Disabling SSE caused the issue to disappear. I do not know how/why SSE interferes here. We're not emitting bare `DataBuffer`s through `Publisher` so disposal/buffer release isn't interfering.

Paging @rstoyanchev for fyi/cc.

[2019-04-23 09:10] schauder commented on #86
SSE?

[2019-04-23 09:36] mp911de commented on #86
Your code example uses Server-Sent-Events (`@GetMapping(value = "/all", produces = MediaType.TEXT_EVENT_STREAM_VALUE)`). Switching to a plain list (i.e. removing `produces = …`) causes the issue to disappear.

[2019-04-23 13:43] croudet commented on #86
I have this gist: https://gist.github.com/croudet/e34275f758765f7799b4870a45e8163d.js

This gives me:
[code]

[2019-04-23 13:50] mp911de commented on #86
Thanks a lot @croudet. I also suspected threads when using SSE that they cause some interference.

Out of curiosity: @croudet can you build the same test for SQL server? We should expect the same issue happening there.

[2019-04-23 13:51] croudet commented on #86
I am sorry I don't have SQL server.

[2019-04-23 17:04] mp911de commented on #86
Did a cursory test on SQL server. Wasn't able to reproduce the issue with a threaded `request(n)` in `r2dbc-mssql`.

[2019-04-24 20:05] slawek-mazur opened #101 "PostgresqlConnectionConfiguration missing sslMode property"
I am building a small service for which I use spring webflux together with r2dbc-postgresql. When I try to connect to db, Azures postgres which by default enforces SSL and there's nothing I can do about it, connection fails with following exception/error:

`SSL connection is required. Please specify SSL options and retry.`

There are four possible values for **SSL mode**: allow, prefer, require, d

[2019-04-29 10:17] mp911de opened #102 "Implement RowMetadata.getColumnNames()"
See r2dbc/r2dbc-spi#58

[2019-04-29 16:39] nebhale opened #103 "Remove EnumCodec"

[2019-04-29 20:13] #102 closed

[2019-04-29 20:27] #103 closed

[2019-05-01 07:59] cambierr commented on #59
@Squiry any chance for you to continue the work ? Otherwise, I could try to continue what you started

[2019-05-01 08:05] cambierr commented on #101
TLS isn't supported yet by r2dbc but an issue already exists about that: https://github.com/r2dbc/r2dbc-postgresql/issues/59

[2019-05-01 11:07] Squiry commented on #59
@cambierr my branch was pretty working last time I checked. I only needed a little bit help with configuration (don't know how to do it right).

[2019-05-01 11:16] mp911de commented on #59
From that point of view, please create a pull request so we can continue the discussion over some actual code.

[2019-05-01 13:53] Squiry commented on #59
@mp911de #104 here it is.

[2019-05-02 16:03] strogiyotec opened #105 "Update connection example in README"
According to README , in order to create insert statement I need to create connection from **PostgresqlConnectionFactory** and then call **createStatement** method

[code]
And then
[code]
But we don't have **createStatement** method because connection is instance of Mono , instead of PostgresConnection

[2019-05-02 16:37] nebhale commented on #105
Yep, quite unclear.  The latter `connection` is intended to be the resolved instance within a `flatMap()` (because we'd [never assign](https://github.com/r2dbc/r2dbc-spi/blob/master/r2dbc-spi-test/src/main/java/io/r2dbc/spi/test/Example.java#L335-L336) that `Mono` to anything directly) but there's no way you'd ever know that.  Thanks for the catch and PR.

[2019-05-06 18:45] #101 closed

[2019-05-09 13:52] flyaruu opened #107 "Weird codec issue when running concurrent queries"
I'm building a demo, and this issue seems to occur only when I run quite a few queries simultaneously, even though it seems too consistent to be race condition. Somehow different queries seem to interfere with each other's buffer.

This is the exception I get:
[code]
The gist of my code is here:
https://gist.github.com/flyaruu/239a950ffda6f3fc544faffffc866f12

I have a toy database, with fake movi

[2019-05-12 08:08] belkirdi commented on #95
we are encountering the same issue. we want to use agensgraph extension with r2dbc. We started last Friday implementing the oid for a different data type that agensgraph need like edge, vertex etc. we still need to implement the codec but the problem is that the way that we are implementing it is not really dynamic we are just overriding your code and it will be a pain everytime we want to upgrade

[2019-05-13 16:32] #74 closed

[2019-05-13 17:02] nebhale opened #108 "0.8.0.RC1 Changelog"

[2019-05-14 07:48] MarioAriasC opened #109 "DateCodec delegation to InstantCodec cannnot read columns with date type"
`DateCodec` delegates its implementation to `InstandCodec` but
when is trying to read a column of type `date`; `InstandCodec` fails to convert it as the parameter `type` is `DATE` and not `TIMESTAMP`.

[code]

[code]

[2019-05-14 10:23] MarioAriasC commented on #109
If anyone has the same problem you can do a cast as a workaround:

[code]

[2019-05-14 14:31] bladewheels commented on #95
Thought I'd pile on here too; I'm in the midst of building a frankensteinian mashup of AgensGraph's JDBC driver with the R2DBC project and would appreciate anything that makes that easier & more resilient to updates to https://github.com/bitnine-oss/agensgraph-jdbc and https://github.com/r2dbc/r2dbc-postgresql.

[2019-05-15 09:58] belkirdi commented on #95
Any update ? Thanks

[2019-05-15 14:19] bladewheels commented on #95
Yes, yesterday I added a comment:
https://github.com/r2dbc/r2dbc-postgresql/issues/95#issuecomment-492262835

[image: --]

Michael Shields
[image: https://]about.me/michael.leonard.shields
<https://about.me/michael.leonard.shields?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=chrome_ext>

On Wed, May 15, 2019 at 3:58 AM belkirdi <notifications@github.com> wrote:

--
Love,

M

[2019-05-20 02:48] strogiyotec opened #112 "Json type support"
How will r2dbc support jsonb type ?

1) Will it use JsonObject from gson
2) Or maybe dto casting using jackson

Could someone explain the future vision of json support so I can contribute

[2019-05-20 03:40] rj-hwang commented on #112
How about Java standard JSPN-P?
[JSR-353](https://jcp.org/en/jsr/detail?id=353) \(Java API for JSON Processing)

[2019-05-20 05:25] JoseLion opened #113 "Array codecs missing during `canDecode(..)` implementation"
I'm trying to get a column of type `TEXT[]` in PostgreSQL so I'm mapping it in my entity as `String[]`. Everything worked as expected until I added the `String[]` filed to my entity and database, after that I got the following error:
[code]

I noticed the error said the data type was `java.lang.Object`, but it seems this comes from `org.springframework.data.r2dbc` using the default `get(..)` metho

[2019-05-20 06:36] mp911de commented on #112
See also #39.

[2019-05-21 04:42] JoseLion commented on #113
**UPDATE**

I think I found the source of the issue: In [AbstractArrayCodec.class](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/codec/AbstractArrayCodec.java) there's the method `isTypeAssignable(..)` which checks if the type passed is an array ([here](https://github.com/r2dbc/r2dbc-postgresql/blob/f8a358141089de9e47f4e73f672e2db7f6df1f3c/src/main/java/io

[2019-05-24 13:32] Squiry commented on #107
Actually database, qieru result size and codecs has nothing to do with that.
Simplified test case (for PostgresExample test class):
[code]

`.delayElements(Duration.ofMillis(1))` makes it fail.

[2019-05-24 16:11] Squiry commented on #107
@flyaruu can you reproduce your issue with [this](https://github.com/Squiry/r2dbc-postgresql/commit/7faf322608bb8976505eaddd1a5a61226ceb1a96) fix?

[2019-05-24 17:53] flyaruu commented on #107
Works like a charm, even with many more concurrent connections!

[2019-05-24 18:46] Squiry commented on #107
Well... not like a charm. If you query a lot of rows and do that kind of trick with mapping it will keep all the data in memory know (cause discardReadComponents won't be called until all rows are mapped).
I'm trying to utilize CompositeByteBuf:decompose in reading process to fix this, but it's not ready yet.

[2019-05-24 21:00] Squiry commented on #109
Take a look at [this](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/test/java/io/r2dbc/postgresql/codec/CodecIntegrationTest.java#L155).
I believe you've used `row.get("date", Date.class)`, but you should use `row.get("date", LocalDate.class)` instead.

[2019-06-02 22:28] vadim-shb opened #118 "Sql exceptions handling"
I don't understand r2dbc exception handling policies
I have a snippet (r2dbc-postgresql[1.0.0.M7] + spring-data-r2dbc[1.0.0.M2]):

[code]

I expect to get some kind of SQL-exception because of unique constraint violation, but instead, I just have
[code]
in logs and a hanging test...
Do I miss something or this is a bug?

[2019-06-04 08:45] Squiry commented on #118
You'll get your error if you try to subscribe on getRowsUpdated/map of Result. I don't know if it's
expected behavior or not, the fix is pretty simple so we need a word from someone of r2dbc team.

[2019-06-04 14:21] schauder commented on #118
I tried to reproduce this but failed. I get the log message you mentioned plus an exception immediately after that.

Could you create a testcase reproducing the issue?

Also, at this point we should probably consider it a Spring Data R2DBC bug since that is the API you are using and there is no indication that this is specific to r2dbc-postgresql.

`AbstractDatabaseClientIntegrationTests` is proba

[2019-06-04 17:20] Squiry commented on #118
@schauder
try this on master (insert it in `PostgresqlExample` class)
[code]

It could be fixed with adding `.handle(PostgresqlExceptionFactory::handleErrorResponse)` after `SimpleQueryMessageFlow.execute` and `ExtendedQueryMessageFlow.execute`.

[2019-06-05 05:38] schauder commented on #118
@Squiry I'm a little dense it seems.

The test passes.
This demonstrates the behavior @vadim-shb expects but doesn't see: The `Flux` emits an error signal and completes.

What the OP reported is: No error emitted (only logged) and `block()` blocking for ever which indicates the `Publisher` didn't complete.

[2019-06-05 07:03] Squiry commented on #118
@schauder
[code]
It failes for me too.

[2019-06-05 07:53] vadim-shb commented on #118
I've made a pure r2dbc test and it doesn't block thread like spring-data-r2bc is.
[code]
I still can't get an exception in the main thread, but it's probably because of my poor understanding of the API.

[2019-06-05 08:43] Squiry commented on #118
[code]
You didn't subscribe on this mono. you should do something like this

[code]
You will not get an exceptio on second `connection.createStatement("insert into foo(id) values ('2')").execute().blockFirst();` anyway, I don't know how @schauder got it.

[2019-06-05 09:17] schauder commented on #118
It was a mistake on my side. I can reproduce the failing test @Squiry showed above.

@Squiry since you seemed to have a fix in mind, do you care to provide a PR?

[2019-06-05 15:15] Squiry commented on #118
@schauder sure, #119

[2019-06-18 16:43] mangusbrother opened #120 "Postgresql failover cluster missing functionality"
Currently this is unable to support a master-slave scenario for postgresql

basically the equivalent of this:

`jdbc:postgresql://postgres_master:5432,postgres_slave:5432/myDb`

[2019-06-20 15:46] eichhornchen27 commented on #113
I've faced the same issue today. Are there any updates?

cc. @nebhale

[2019-06-25 19:05] OlegDokuka opened #121 "Send cancelation packet to Postgres server in order to interrupt running query"
In some circumstances, it is wiser to send cancelation acknowledgment to the Postgres server (https://www.postgresql.org/docs/9.3/protocol-flow.html#AEN100004) to interrupt long running query rather than waiting for the complete response to drain from the connection.

Thus we have to consider to implement cancelation of subscription as a signal to Postgres over wired connection

[2019-07-15 07:41] a8t3r opened #122 "Query parameters are not supported for repeated usage"
E.g. query:
[code]
contains parameter `$2` twice. Thus query will be failed on [Bindings.validate()](https://github.com/r2dbc/r2dbc-postgresql/blob/f8a358141089de9e47f4e73f672e2db7f6df1f3c/src/main/java/io/r2dbc/postgresql/client/Binding.java#L138) method because expected parameters are counted by occurrences of `\$[\d]+` regexp.

[2019-07-15 08:44] Squiry commented on #122
I believe #111 fixes that.

[2019-07-16 08:14] timve commented on #59
It is unclear to me what the status is of this issue and the corresponding pull request #104 can @Squiry or @mp911de (or perhaps someone else who knows) shed some light on this?
We are looking for a solution to use r2dbc with tls connections to our postgres databases and are happy to see if we can help get TLS support for postgres in r2dbc.

[2019-07-16 09:47] mp911de commented on #59
Paging @nebhale who is the maintainer of this project.

[2019-07-16 20:51] Squiry commented on #59
My pull request is ready for review.

[2019-07-23 09:59] Aleksandr-Filichkin opened #123 "Is this project still alive?"
Is this project still alive?

No changes for two months.  Critical PRs are not merged. What is going on?
@nebhale @mp911de

[2019-07-23 19:44] #113 closed

[2019-07-23 20:10] #118 closed

[2019-07-23 20:13] gregturn commented on #123
We are very busy team. Be patient.

[2019-07-23 20:13] #123 closed

[2019-07-23 22:02] gregturn opened #124 "Deprecate LEGACY_POSTGRESQL_DRIVER"
In light of #117, flag that this constant is deprecated and not for "new" efforts.

[2019-07-23 22:04] gregturn commented on #124
To add a deprecation warning would require removing https://github.com/r2dbc/r2dbc-postgresql/blob/master/pom.xml#L175 from the build.

[2019-07-24 06:35] mp911de commented on #124
Including deprecated elements doesn't feel right for a "new" piece of software. I suggest that we silently support the `postgres` scheme. It does not impose severe constraints of efforts, it is just another conditional.

[2019-07-24 10:51] #124 closed

[2019-07-25 06:45] LaoTsing commented on #95
It is very necessary for all peoples to support the standard data type JSONB of Postgres with the usual representation in the Spring - JsonNode. Are there any workarounds?

[2019-07-25 06:51] mp911de commented on #95
JSONB is just character data, like any ordinary VARCHAR column. The driver isn't going to ship with client-side JSON processing/binding library support as processing/binding JSON is an application-level concern. Such support needs to go into a client library that deals with JSON-P/JSON-B/Jackson/Gson optionality and features.

[2019-07-25 07:32] LaoTsing commented on #95
Well, then tell me please how through the Codec to make the transformation of the No-SQL field type JSONB in any type?

[2019-07-25 07:36] mp911de commented on #95
You obtain either a `byte[]` or `String` from the JSON field. Then, you use that data with your favorite JSON library to load and process it (e.g. Jackson, `new ObjectMapper().readValue(…)` or something like that).

[2019-07-25 10:25] LaoTsing commented on #95
That is, your keep storing data in a database under a byte[] or text type? Then all advantages of type JSONB are lost.

[2019-07-25 11:14] mp911de commented on #95
R2DBC repositories as in Spring Data are an entirely different story. We're talking about the driver here.

Not sure we're on the same page. Postgres represents JSON data as a character field when consuming it from a driver. Therefore you can consume it either as `String` or `byte[]` from the driver.

[2019-07-25 11:30] LaoTsing commented on #95
Thank you Mark! I will try so

[2019-07-30 13:25] nikhilaroratgo commented on #71
please document how to use connection pool with R2dbc client. Also please give some rough idea when will we have the release?
Thanks

[2019-07-31 08:42] nikhilaroratgo commented on #71
@mp911de I added the dependency and now I run into the problem Caused by: java.lang.NoSuchMethodError: reactor.pool.PoolBuilder.initialSize(I)Lreactor/pool/PoolBuilder;

Checked and found that reactor-pool -->PoolBuilder class does not have initialsize method.
Whereas ConnectionPool class from r2dbc-pool is trying to use this method.

[2019-07-31 09:19] mp911de commented on #71
Please use r2dbc-pool 0.8.0.BUILD-SNAPSHOT with reactor-pool 0.0.1.BUILD-SNAPSHOT. Dependencies are currently moving fast and potentially breaking setups that worked in other versions.

[2019-08-13 10:56] odrotbohm opened #125 "PostgresConnectionFactoryProvider.supports(…) is too restrictive"
Besides verifying the driver class name, `PostgresConnectionFactoryProvider.supports(…)` also checks whether certain configuration options are currently present and rejects the match if host, password or user are missing.

This unfortunately leads to the driver to not be selected and the error bubbling up as "no suitable driver found" without any trace of why the Postgres driver is not selected ev

[2019-08-14 06:55] pranjalc92 opened #126 "Any plans to release"
Are there any plans to release this ? Currently I only see milestone versions available.

[2019-08-14 14:55] jurakontor commented on #122
Any idea when https://github.com/r2dbc/r2dbc-postgresql/pull/111/commits/c6926efba5cccd30282295152109185d8a20fae2 will be merged into codebase?

[2019-08-14 15:44] LaoTsing commented on #122
please fix multiple usage of counters!

[2019-08-16 09:51] Aleksandr-Filichkin opened #131 "Threads blocking issue for 0.8.0.M8"
0.8.0.M8 has critical thread blocking issue:

![image](https://user-images.githubusercontent.com/10498901/63157372-79b5fd80-c01f-11e9-85fd-5ab347c0761e.png)

Thread dump:

[code]

**For 1.0.0.M7 everything looks fine:**

![image](https://user-images.githubusercontent.com/10498901/63157430-9d794380-c01f-11e9-8dd3-64b1bf95b9cd.png)

The problem with getNameKeyedColumnMetadatas in PostgresqlRowMetada

[2019-08-16 10:00] mp911de commented on #131
Care to paste the stack trace as text. The image is non-readable.

[2019-08-16 10:11] Aleksandr-Filichkin commented on #131
@mp911de  Stack trace was added

[2019-08-16 10:15] mp911de commented on #131
From the impl doc of `RuleBasedCollator`:

It makes sense to go away from `RuleBasedCollator` and implement case-insensitive matching directly via `String.equalsIgnoreCase` to prevent synchronization issues. Creating multiple `RuleBasedCollator` isn't efficient.

[2019-08-16 10:23] mp911de commented on #131
We have a similar issue in R2DBC SQL Server. Here's the fixing commit: https://github.com/r2dbc/r2dbc-mssql/commit/7297c9be4b1136947a03bc1b23dccfaebabfd620

Care to submit a pull request?

[2019-08-16 10:32] Aleksandr-Filichkin commented on #131
I will submit a PR

[2019-08-16 14:46] gregturn opened #133 "Implement validate() SPI"

[2019-08-16 14:54] #133 closed

[2019-08-20 08:28] Aleksandr-Filichkin commented on #131
@mp911de MR is https://github.com/r2dbc/r2dbc-postgresql/pull/132

But build was failed because PostgresqlConnection doesn't implement new methods from Connection class("validate",setAutoCommit,etc)

@mp911de  Do we have a ticket for implementing new methods for PostgresqlConnection?

[2019-08-20 12:47] NikolajLeischner opened #135 "TEXT ARRAY values containing white space are wrapped in """
To ensure its output is unambiguous, Postgres wraps elements of text arrays in quotes in certain cases. Refer to the documentation: https://www.postgresql.org/docs/9.6/arrays.html (Section 8.15.6. Array Input and Output Syntax)

The r2dbc-postgres codec does not take that into account and returns text array values as they are given by Postgres. This means if I insert the array `["some", "white spa

[2019-08-20 14:54] halimpuckjava opened #136 "IndexOutOfBoundsException"
hi

i try to use r2dbc-postgresql with coroutines, so this is a snapshot of code:
[code]

in execution i see this exception:
java.lang.IndexOutOfBoundsException: index: 20201, length: 13 (expected: range(0, 16384))

[2019-08-21 18:23] rjaros opened #137 "Timestamp rounded up when sent to the database"
When sending `LocalDateTime` value to the `timestamp(0) without time zone` column in PostgreSQL database, the time is rounded up to the nearest second. E.g. the value "2019-08-21T20:02:32.857" is saved as "2019-08-21 20:02:33" in db. But it's wrong - I can imagine getting the wrong day, month or even year in special cases.

[2019-08-23 08:20] Squiry commented on #136
Related to #107 #91 #86

[2019-08-28 10:05] ksky8864 opened #138 "Combine extended flow messages into a single composite message"
I benchmarked r2dbc-postgresql and JDBC driver for PostgreSQL to find out if r2dbc is suitable for online transaction processing, but the result of r2dbc was not as good as that of JDBC.

* is there something wrong with my r2dbc usage?
* any solution to improve the throughput in the following test case?
* does r2dbc not target at OLTP?

**these are the benchmark test conditions:**
* common
    * e

[2019-08-28 11:55] odrotbohm commented on #138
Thanks for bringing this to our attention. Admittedly, we haven't had the amount of time to look into potential performance issues as we would've liked to. Is there a chance you prepare the example as JMH benchmark so that we can take a look? @mp911de's [microbenchmark runner](https://github.com/mp911de/microbenchmark-runner) might be helpful with that.

[2019-08-28 16:35] killaitis opened #139 "PostgresqlConnection does not rollback if transaction status is FAILED"
We recently ran into a problem where our connection pool was drained (all connections acquired, showing up in Postgres as "ROLLBACK" and "idle"). I was able to boil down the problem and it shows that all these stuck connections were caused by a data integrity exception thrown by r2dbc-postgres.

Finally, I reduced the cause to a combination of
- using a validation query for the pool
- having a cor

[2019-08-29 08:19] killaitis commented on #139
The cause of this issue is `PostgresqlConnection::rollbackTransaction()` skipping the actual rollback if the transaction status is not `OPEN` (in this case it is `FAILED`). Changing the code to do a rollback in case of `IDLE != transactionStatus` will fix the issue.

The same issue applies to `PostgresqlConnection::rollbackTransactionToSavepoint()`.

[2019-08-29 12:49] ksky8864 commented on #138
I placed a benchmark code using JMH in [dbc-benchmark](https://github.com/ksky8864/dbc-benchmark).

As I wrote earlier, my code uses r2dbc-postgresql, r2dbc-client, r2dbc-pool. First I'd like to find out which modules cause the performance issue.
Do you have any idea? I also have Java VisualVM snapshots that I took in my environment. If they seem to be helpful to you, please freely let me know.

[2019-08-31 12:22] odrotbohm commented on #138
Thanks for preparing this. I'll have a look early next week. In general, I usually just run the benchmarks and attach a profiler (like YourKit) to see where time is spent.

[2019-09-02 10:54] killaitis commented on #131
#140 will fix the missing new methods.

[2019-09-06 07:37] mp911de opened #145 "Consider error 28000 an authentication error"
Currently, `role "…" does not exist` is reported as `PostgresqlServerErrorException` it should be a `PostgresqlAuthenticationFailure`.

Also, we should implement categorized R2DBC exceptions instead of reusing a single exception type.

[2019-09-06 07:40] mp911de opened #146 "Upgrade to Reactor Dysprosium RC1"

[2019-09-06 07:43] mp911de opened #147 "Adapt to SPI changes for IsolationLevel and AutoCommit"

[2019-09-06 07:44] #147 closed

[2019-09-06 07:44] #146 closed

[2019-09-06 09:13] #139 closed

[2019-09-06 09:19] #125 closed

[2019-09-06 13:10] killaitis opened #148 "ExtendedQueryPostgresqlStatement emits Result before processing execution errors"
Note: the following issue was observed with `spring boot 2.2.0.M5`, `spring 5.2.0.RC2` and `r2dbc-*-0.8.0.BUILD-SNAPSHOT`.

If an exception is caught inside `TransactionalOperator::transactional` (in the example below it is a duplicate key error), the exception ist not always handled correctly forwarded down the Flux. If the statement that failed is a `SimpleQuery` without bindings, the error is h

[2019-09-06 13:21] mp911de commented on #148
This looks like an issue in `TransactionalOperator`, spring-projects/spring-framework#23304. Can you please switch  from `Mono` to `Flux` or invoke the database functionality in `TransactionalOperator.execute(…)`?

[2019-09-06 14:26] killaitis commented on #148
Changed code to

[code]

No change in behaviour.

[2019-09-06 14:36] #131 closed

[2019-09-06 14:39] killaitis commented on #148
I added Flux.log() to the executed statements and the result is this:

[code]

Then the process is stuck. Unfortunately I cannot identify which of the two INSERTs is writing the log.

[2019-09-06 14:50] killaitis commented on #148
This is what happens when not using the bind() (`SimpleQueryPostgresqlStatement`):

[code]

Looks plausible.

[2019-09-06 14:51] mp911de commented on #148
With cancellations and transaction, we typically have an issue because downstream operators do not await completion. I need to debug through this. Alternatively, setting a breakpoint in the Postgres statement classes on `execute(…)` should show which statements are affected.

You can get more debug logs via `Hooks.onOperatorDebug()`

Can you reproduce that issue with plain R2DBC code so there's no

[2019-09-06 15:19] killaitis commented on #148
Issue can be triggered using plain R2DBC:

[code]

[2019-09-06 15:55] mp911de commented on #148
Thanks for the example. Feel free to investigate further on the issue. Alternatively, we can look later next week into the issue.

[2019-09-09 06:35] mp911de opened #149 "Adapt to Statement.bind and Row.get by name"
See r2dbc/r2dbc-spi#76

[2019-09-09 06:48] #149 closed

[2019-09-09 06:56] mp911de commented on #105
Fixed via #106.

[2019-09-09 06:56] #105 closed

[2019-09-09 06:57] mp911de commented on #126
Yes, see https://github.com/r2dbc/r2dbc-postgresql/milestone/6.

[2019-09-09 06:57] #126 closed

[2019-09-09 06:58] mp911de commented on #120
Happy to review a pull request on how to make `Client` customizable for various clustering- and failover strategies.

[2019-09-10 08:52] msoub commented on #107
Do you have any news regarding this issue and the `CompositeByteBuf` fix?

[2019-09-10 12:54] mp911de commented on #107
That's fixed now via #116.

[2019-09-10 12:55] mp911de commented on #91
That's fixed now via #116.

[2019-09-10 12:55] #91 closed

[2019-09-10 12:55] mp911de commented on #86
That's fixed now via #116.

[2019-09-10 12:55] #86 closed

[2019-09-10 13:34] mp911de opened #150 "Expose Connection metadata"
r2dbc/r2dbc-spi#118

[2019-09-10 13:54] #150 closed

[2019-09-10 14:18] mp911de commented on #136
That should be fixed with #116. Feel free to reopen if the problem persists.

[2019-09-10 14:18] #136 closed

[2019-09-10 14:19] mp911de commented on #122
Fixed via #111.

[2019-09-10 14:19] #122 closed

[2019-09-10 14:20] #107 closed

[2019-09-11 13:54] mp911de opened #151 "BackendMessageEnvelopeDecoder. fails with IllegalReferenceCountException: refCnt: 0"
During database I/O, `BackendMessageEnvelopeDecoder` fails occasionally with:

[code]

[2019-09-11 15:11] msoub opened #152 "Connection pool size"
We are using `r2dbc-pool` along with `r2dbc-postgresql` and despite setting the `maxSize` of the pool configuration, it looks like it's not respected.

Here is the config inheriting from `AbstractR2dbcConfiguration`:
[code]

[2019-09-11 15:46] msoub commented on #151
We face this issue without using `reactor-pool` and when we do use it, the requests sent to the db are never treated:
[code]

It looks like the problem lies in `io.r2dbc.postgresql.client.ReactorNettyClient#exchange` where the responses are not properly subscribed.

[2019-09-11 18:57] mp911de commented on #151
@Squiry care to have a look? These exceptions started occurring after merging #116.

[2019-09-13 08:41] msoub commented on #151
So at the end of the day our issue was a transaction deadlock.
We were reading a table ```SELECT * FROM users``` and in the same transaction we were updating some row ```UPDATE users SET user = 'smith' WHERE id = $1``` right after they had been read. Thus the `sync` message without a response from the db.

[2019-09-13 12:45] mp911de opened #154 "Remove repositories declaration from published pom"

[2019-09-13 12:45] #154 closed

[2019-09-14 19:14] mp911de opened #156 "Adapt to Row.get(int)/get(String) in PostgresqlRow"
Adapt to spec changes.

[2019-09-14 20:34] mp911de opened #157 "Fix memory leaks in BackendMessageEnvelopeDecoder"
[code]

[2019-09-15 11:07] mp911de commented on #157
That should get fixed with e5de0b61730ab8e34825f294eddef776a7a094e0.

[2019-09-16 06:47] mp911de commented on #157
@Squiry I experimented with Netty's `LengthFieldBasedFrameDecoder` (and copying `nioBuffers` in the decoder when retaining these). It turned out that `LengthFieldBasedFrameDecoder` can replace `BackendMessageEnvelopeDecoder` and solve the memory leaks that showed up.

[2019-09-16 08:57] Squiry commented on #157
Netty [documentation](https://netty.io/wiki/reference-counted-objects.html#best-practices-to-avoid-leaks) recommends to run unit/integration tests with PARANOID level of leak detection, have you tried this? Cause I don't think there's a leak in BackendMessageEnvelopeDecoder.
But switch to LengthFieldBasedFrameDecoder is a good idea anyway, I just didn't want to move to netty level since we were go

[2019-09-16 17:39] Squiry commented on #157
I've run jmh branch with paranoid leak detection and leaks are still there.
Some of them are fixed [here](https://github.com/Squiry/r2dbc-postgresql/tree/byte-buf-leaks), but there are still some leaks when running `PostgresqlTestKit`, I'll investigate this later.

[2019-09-16 19:30] mp911de commented on #157
Thanks for having a look. I didn't yet get to further work on the driver as I'm currently on the road. Once the `jmh` branch is merged, we can build PR's on top of it. We also need to merge your SSL PR.

[2019-09-17 00:08] killaitis commented on #148
Small status update: I did not manage to do any further work on this issue as I‘m currently on vacation. I‘ll resume investigation next week.

@mp911de did you happen to get any insights on the issue? Do we consider this issue to be a blocker (after all, this bug will let each and every failed transaction hang indefinitely)?

[2019-09-17 06:50] mp911de commented on #148
I wasn't entirely able to reproduce the issue. What I found so far is that `ExtendedQueryPostgresqlStatement` emits a `PostgresqlResult` and then it processes `ErrorResponse`. Running a `Bind` and `Exeucte` that fails emits `BindComplete` and `NoResponse` frames before `ErrorResponse`. This leads to emitting `PostgresqlResult` instead of emitting an error.

Running the example makes it visible tha

[2019-09-17 07:17] #148 closed

[2019-09-17 07:34] #156 closed

[2019-09-17 07:35] mp911de commented on #145
Should be fixed along with #98.

[2019-09-17 07:35] #145 closed

[2019-09-17 07:50] mp911de commented on #135
Can you retry whether the issue persists? `StringArrayCodec` is now also enabled for binary format decoding but that should not affect array decoding.

If so, please provide a bit of code to reproduce the issue using R2DBC SPI.

[2019-09-17 07:59] NikolajLeischner commented on #135
I'll probably be able to re-check this before the end of this week and will get back to you once I do :)

[2019-09-17 08:09] mp911de commented on #137
The precision parameter value`0` in `TIMESTAMP(0)` is what leads to rounding. As per Postgres doc:

See also https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-DATETIME-INPUT.

Therefore, this doesn't seem to be a driver issue. Can you please retest with a higher precision value?

[2019-09-17 08:30] rjaros commented on #137
You are correct. It's the precision parameter.

[2019-09-17 08:46] mp911de commented on #137
Thanks for the confirmation. Closing this ticket as there's nothing to do in the driver.

[2019-09-17 08:46] #137 closed

[2019-09-17 08:48] mp911de opened #159 "Allow type conversion across codecs"
It would make sense to be able to convert values across convertible data types (`TIMESTAMP` to `Date`, `LocalDate`, `LocalTime`, `INT4` to `Long`) for interoperability of data types.

[2019-09-17 10:38] mp911de opened #160 "Add ConnectionFactory option for binaryTransfer (forceBinary)"
Currently, we have no way to configure binary transfer via Connection URL (`PostgresqlConnectionFactoryProvider`). We should add this possibility.

[2019-09-17 11:07] Squiry commented on #157
So, last two leaks were in validate connection method and in codecs when bind failes.

[2019-09-17 12:19] mp911de commented on #109
There are in general issues with date handling. `TIMESTAMP` is considered internally `Instant` but Postgres docs say that `TIMESTAMP` (also `TIME` and `DATE` types) are timezone-local so they need to map to `LocalDate`/`LocalTime`/`LocalDateTime`. `Date` is then a zone-local representation of `LocalDateTime`.

[2019-09-17 12:26] #109 closed

[2019-09-17 12:27] #159 closed

[2019-09-17 14:14] #98 closed

[2019-09-17 15:07] NikolajLeischner commented on #135
Confirmed, after updating from `1.0.0.M7` to the current snapshot, the issue is gone.

[2019-09-17 15:07] #135 closed

[2019-09-18 08:22] mp911de commented on #95
I gave an extension SPI a first spin and came up with a concept of `CodecRegistry` and `CodecRegistrar` (detected via Java Service Loader) so extensions can contribute `Codec`s:

**Driver Extension SPI**

[code]

**Example implementation**

[code]

Let me know what you think about it. I'm not terribly familiar with PGJDBC's `TypeInfo` and how it's used. It looks like that R2DBC Postgres has invert

[2019-09-18 10:24] mp911de opened #162 "Exclude not-required dependencies"
Reactor Netty pulls in several dependencies that we do not require:

* Handlers for HTTP and HTTP2, Proxy handlers

Additionally, we should not require Spring Boot JDBC for our tests, rather Spring JDBC is sufficient.

[2019-09-18 10:26] #162 closed

[2019-09-18 12:53] davecramer commented on #95
@mp911de TypeInfo contains all the information about a pg type to be able to read and write it. The JDBC driver is somewhat more complicated in that it uses both text and binary format depending on how many times a statement has been used, so we have "codecs" for both text and binary for almost every type. As for querying most common types we can hardcode some of them. We also maintain aliases suc

[2019-09-18 13:01] mp911de commented on #95
Thanks, Dave, that makes sense. Our driver is more flexible regarding codecs as a single codec maps to one or more Postgres types and one Java type. Text and binary encoding happens within the same codec. So the only thing that needs to happen in R2DBC Postgres to support either a Postgres type or a Java type (or both) is registering a codec that will handle both aspects. I think that our driver i

[2019-09-18 13:12] davecramer commented on #95
Regarding the question of text vs binary. Receiving binary requires an extra round trip to do the describe so you know where and what types you are receiving. The driver has a default of 5 iterations of the same statement and then we will go and do the describe otherwise we avoid the round trip and just receive data in text. Timestamps, etal are interesting in binary as well since IIRC timezone in

[2019-09-18 16:27] skroll commented on #95
Wow, I think I really like that SPI mechanism for adding support for new codecs. Looks clean, and I think that would allow users to add support for the new types they will inevitably end up using, without tying them to any particular support library.

The PostGIS extension is one of my biggest use cases when it comes to Postgres, although to be honest I only use a small subset of it. This sort of

[2019-09-18 16:44] mp911de commented on #95
Do you want to give a proof of concept implementation for one or two Geocodecs a spin? I can prepare a branch where that extension mechanism can live in so you can run actual tests against it.

[2019-09-18 16:54] skroll commented on #95
Yeah sure, shouldn't be too hard. I can show off the geometry type (which encompasses the point, linestring and polygon types), and at least get an idea of how the registration mechanism would work in a real-world setting.

[2019-09-19 07:11] markusschaber commented on #95
To be honest, it's about 10+ years ago I had to stop working on PostGIS JDBC, am .NET only nowadays after several Job changes.

But it seems that the internet never forgets... 🥇

[2019-09-19 09:23] mp911de opened #163 "Remove dependencies to Spring Boot"

[2019-09-19 09:25] #163 closed

[2019-09-19 10:27] mp911de commented on #95
I pushed a codec registry extensions onto the [codec-registry-extension](https://github.com/r2dbc/r2dbc-postgresql/tree/codec-registry-extension) branch. You can consume that driver change as snapshot build:

[code]

[2019-09-19 15:30] belkirdi commented on #95
Awesome I will test it with AgensGraph

[2019-09-19 17:22] belkirdi commented on #95
This feature will be available in your next release 0.8.0.RC1 ?

[2019-09-19 17:53] mp911de commented on #95
RC1 is scheduled for mid next week. If we can gather sufficient feedback until Wednesday or Thursday, then it can make the cut into RC1.

[2019-09-19 18:31] skroll commented on #95
Awesome I will do what I can to test out the geo types.

[2019-09-19 22:27] skroll commented on #95
I have a minimal example that only supports decoding (no encoding), and just the point type, but it works. There's provisions in there for when the binary transport works, but it works for now.

https://github.com/skroll/r2dbc-postgresql-codec-postgis

Most of the decoding is from the official postgis-jdbc library, but adapted for ByteBufs.

I may try adding support for more types, and maybe give

[2019-09-20 06:35] mp911de commented on #95
Thanks a lot for your prompt response. I will prepare a pull request from that branch so we can await the outcome of encoding and what happens with @belkirdi's AgensGraph efforts.

Probably a good idea to let @protodef and @bylee5 know about the extension point that could enable an AgensGraph integration.

[2019-09-20 11:04] mp911de commented on #95
I refactored extension support to a more generic approach by introducing the `io.r2dbc.postgresql.extension.Extension` interface. Make sure to use `META-INF/services/io.r2dbc.postgresql.extension.Extension` once PR #164 is merged.

[2019-09-20 14:32] mangan77 commented on #157
Not sure if this is a known leak or not, but I thought I'll post it anyway if it could be of interest:

`2019-09-20 16:23:40.368 ERROR 35672 --- [actor-tcp-nio-2] io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
	io.netty.

[2019-09-20 17:41] skroll commented on #95
I see you added a static cache for the OIDs. I'm not sure if this is OK, because different databases could have different OIDs for the same type. Is there any way it could be tied to the connection factory or something that is per-database specific?

[2019-09-20 17:53] mp911de commented on #95
We followed the same approach as pgjdbc representing only well-known oids with our PostesObjectId. That enum is valid only for static oids. Types contributed by e.g. postgis must be looked up by extensions.

I didn’t add any utilities or caches yet to lookup and cache data from pg_types as I’m not terribly familiar with what extensions would need. Happy to discuss additions that make it easier for

[2019-09-20 18:38] skroll commented on #95
Oh I see, I just looked at the patch, I guess I missed that.

Generally, querying `pg_catalog.pg_type` is a multistep process, and there's some steps that depend on the version of the server you are connecting to. For example, querying from a server that's before version 8.3 doesn't have an easy way to determine if a type is an array type or not. However, after 8.3 they added a boolean column call

[2019-09-20 18:55] Squiry commented on #157
Looks like the one with failed binding, but you can never tell for sure from a stack trace. I believe it is fixed [here](https://github.com/Squiry/r2dbc-postgresql/commit/c0abd734684799ee1d56beb8a200e299eacba40a).

[2019-09-20 19:12] #59 closed

[2019-09-20 19:14] gregturn commented on #59
It's merged!

Thank you @Squiry for getting this implemented. And thanks to @mp911de for helping to pull it all together.

[2019-09-20 21:11] skroll commented on #138
Have you tried it without using the connection pool? HikariCP does some things with the connections it manages by putting some items thread local storage and only going across boundaries to steal connections from others if it needs it. Since you are doing all the work in a single thread, it's probably reusing the same connection over and over again.

I would do a test without r2dbc-pool and hikari

[2019-09-22 09:22] mp911de commented on #157
Deferring encoding to the actual subscription makes sense to avoid early buffer allocation. @Squiry do you want to submit a pull request with your changes?

[2019-09-22 13:20] Squiry commented on #157
@mp911de
Sure, #165 here it is

[2019-09-22 13:33] killaitis commented on #148
I can confirm that the current master does not show the issue anymore. So I support your assumption and the issue is rightfully closed.

[2019-09-23 06:43] mp911de commented on #18
Using R2DBC Postgres for a replication connection is possible by setting the `replication` option to `database`. We can also consume a replication stream (`CopyData`) if it's started through `START_REPLICATION SLOT demo_logical_slot LOGICAL 0/0 ("skip-empty-xacts" 'true', "include-xids" 'false')`.

Using a replication connection seems to impose restrictions on what commands a connection can issue.

[2019-09-23 10:46] davecramer commented on #18
Dave Cramer

On Mon, 23 Sep 2019 at 02:43, Mark Paluch <notifications@github.com> wrote:

Yes, it does, but you would only use a replication connection for
replication.

+1 for this

[2019-09-23 11:41] mp911de commented on #157
Fixed via #165.

[2019-09-23 11:41] #157 closed

[2019-09-23 14:20] mp911de opened #166 "Edit documentation"
Add missing documentation for SSL usage. Align readme to SQL Server readme outlining how to create a connection via R2DBC and by using `PostgresqlConnectionFactory` directly.

[2019-09-23 14:24] #166 closed

[2019-09-24 09:14] ksky8864 commented on #138
@skroll
I tried it without connection pool last month.
It took approx 10sec in JDBC with 500,000 requests, whereas R2DBC resulted in connection timed out. At that time I saw 80 idle connections spiked on pgAdmin.

[2019-09-24 10:51] cambierr opened #167 "column name escaping not working with default `findAll` method"
Given a model class containing:
[code]
the default `findAll` method doesn't work since it doesn't escape the column whose name is `end`.

If escaping the name in the column like so:
[code]
Then the mapper can't convert the rows to entities anymore.

For now, the only obvious fix seems to redefine the `findAll` method in the repository interface with something like `@query("select * from myEntity")

[2019-09-24 10:52] mp911de commented on #167
Can you please file this issue in https://github.com/spring-projects/spring-data-r2dbc? The Postgres driver does not apply escaping. Spring Data R2DBC should escape column names.

[2019-09-24 10:52] #167 closed

[2019-09-24 12:29] cambierr commented on #167
Sorry for this one, wrong project indeed

[2019-09-24 15:12] gregturn opened #168 "Does Codec decoding need to be aware of the target type?"
When extracting a value from a column (decoding), selecting a Codec is currently based on the data type of the column. There is no consideration for the end result type.

Is this necessary? Recent issues regarding multiple target types that are all stored the same in tables imply there should be.

NOTE: This issue was ALSO observed in `r2dbc-h2`, which borrowed Codec solution from this project.

[2019-09-24 15:17] mp911de commented on #168
Decoding in Postgres is based on three factors:

* The column type (type OID)
* The format in which the data is encoded (binary or text)
* The requested value type (`Object` or a more specific variant such as `String`)

A codec may support multiple formats and OIDs and only a single Java type (that is the current restriction of `AbstractCodec`). For e.g. numeric codecs we have [`AbstractNumericCod

[2019-09-24 18:01] skroll commented on #138
That sounds like you're doing parallel work then. If you are not using a connection pool, there should only be 1 connection active. Were you creating a connection each time?

[2019-09-25 06:53] mp911de opened #169 "Upgrade to Reactor Dysprosium GA"

[2019-09-25 13:31] mp911de opened #170 "Add automatic module name"

[2019-09-25 13:33] #169 closed

[2019-09-25 13:33] #170 closed

[2019-09-25 13:37] mp911de opened #171 "Upgrade to SCRAM Client 2.1"

[2019-09-25 13:39] #171 closed

[2019-09-25 15:32] #95 closed

[2019-09-25 15:39] davecramer commented on #95
On Fri, 20 Sep 2019 at 14:38, Scott M. Kroll <notifications@github.com>
wrote:

I see no reason to support anything older than about 9.5 as 9.4 is about to
be EOL once 12 comes out which is imminent, however that is up to you. As
you can see supporting old versions is arduous.

I'm not aware of "old types" do you have a reference ?

More challenging is the schema/namespace. Users can create a type

[2019-09-26 09:44] mp911de opened #172 "Release 0.8.0.RC1"

[2019-09-26 10:08] #108 closed

[2019-09-26 13:29] mp911de opened #173 "Enable consumption of REFCURSOR"
Calling a function returning a `REFCURSOR` fails currently as `REFCURSOR` cannot be decoded.

We should investigate how we want to allow the consumption of `REFCURSOR`.

Possible approaches:

* Inspecting the row descriptor. If the resultset containing `REFCURSOR`s then `Result` would fetch transparently the cursor and emit rows.
* Returning a `RefCursor` object that exposes a `Publisher<Result> g

[2019-09-26 18:00] gregturn commented on #172
Resolved via https://github.com/r2dbc/r2dbc-postgresql/commit/616ad18ff6684f0e6a8d90eacac60c44ce5707a1.

[2019-09-26 18:00] #172 closed

[2019-10-01 06:29] markusschaber commented on #95
I agree here. If older versions work with the same code, you can support them (or document them as "should work, but not officially supported).

But including complex workarounds for ancient, unsupported PostgreSQL versions for new functionality is not justified.

[2019-10-01 19:22] mp911de opened #175 "Revert reactor-netty exclusions"
By excluding `netty-codec-http` et. al., exclusions take effect on other components that pull in Reactor Netty such as Spring Boot Starter for WebFlux. Effectively, including this driver as of 0.8 RC1 breaks WebFlux applications.

Users need to manually include `netty-codec-http`.

We should revert this change until Reactor Netty is able to split their artifact into modules.

[2019-10-01 19:30] #175 closed

[2019-10-02 06:36] ksky8864 commented on #138
I used following code [dbc-benchmark/without-connection-pool](https://github.com/ksky8864/dbc-benchmark/tree/without-connection-pool).
In this test, an `io.r2dbc.client.R2dbc` instance is made at the beginning of the test and a single thread uses this repeatedly.
Is this usage appropriate?

[2019-10-02 06:45] mp911de commented on #138
@ksky8864 the code looks okay. Benchmarking without pool usage includes the expensive connection creation phase.

[2019-10-02 16:56] joshfix opened #176 "Connection.close() does not await connection close"
Using spring-data-r2dbc v1.0.0.BUILD-SNAPSHOT with rdbc 0.8.0.RC1 dependencies on spring-boot-starter-parent 2.2.0.M6.

I have configured an r2dbc connection to postgresql by extending AbstractR2dbcConfiguration.  I have also enabled repos with @EnableR2dbcRepositories.

After moderate usage, I begin getting error messages stating "sorry, too many clients already" (full gist: https://gist.github.c

[2019-10-02 18:51] joshfix commented on #176
Not sure if this is relevant, but here is how I was constructing my ConnectionFactory:
[code]

[2019-10-03 14:45] mp911de commented on #176
@joshfix can you attach a bit of code that shows the functionality where you experience the exception? After revisiting the Postgres protocol documentation, I'm no longer sure that the initial assumption renders true.

[2019-10-03 16:38] joshfix commented on #176
Sure, this is a bit ugly and unwieldy, but it's what i have :)

[code]

[2019-10-03 16:43] mp911de commented on #176
May I assume that `jobService::getById` and `client.runSavedSearch(…)` interact with the database? Can you switch from `flatMap(…)` to `concatMap(…)` and test whether you see a change in behavior?

[2019-10-03 16:50] joshfix commented on #176
All of the `xxxService` objects end up calling the repos and interacting with the db.  The client class does not, it ends up making a call to WebClient.  The error would kick in during the flatMap to create a new Item and call `return itemService.create` (which in turn just calls `repo.save(item)`).  There were about 250 new items being created.  You can see that debug output in my gist (link in o

[2019-10-03 16:53] mp911de commented on #176
I assume that `flatMap(…)` fan out in a higher concurrency rate than your server is able to handle. `concatMap(…)` reduces parallelity to 1, therefore, it reduces the number of required connections.

[2019-10-03 16:58] joshfix commented on #176
Ok good to know... I will make sure whenever we are in a spot where we expect a large number of db calls that we use `concatMap`.

[2019-10-03 17:01] mp911de commented on #176
Both, driver and pool have a work queue, but reducing parallelity is something that can prevent lockup. As the issue seems resolved, I'm going to close it.

[2019-10-03 17:01] #176 closed

[2019-10-12 00:20] mp911de opened #177 "Statement execution gets stuck when connection gets disconnected"
When initiating `Client.exchange(…)`, the execution may get stuck if the channel is disconnected. `exchange(…)` only checks if the connection was closed via `.close()` and not whether the channel is disconnected.

This leads to submitting a message to the request processor and the request processing fails because of a closed channel. We need to make sure that the following happens:

* Before enque

[2019-10-12 00:36] mp911de opened #178 "Relax requirement for password"
Authentication does not require always a password, especially when user `trust` is configured. We should relax the requirement for a password.

Within the scope of this ticket, we also should update our requirements for Postgres 12' two factor authentication (Client SSL cert + password). Currently, we enforce follow the rule that if plaintext is configured, we require a password and with a configu

[2019-10-12 00:38] #177 closed

[2019-10-14 15:42] odfsoft opened #180 "1.0.0 M7 does not work with spring-data-r2dbc 1.0.0 RC1"
when I try to update to the latest version of r2dbc-postgres 1.0.0 M7 while using the latest version of spring-data-r2dbc, I get no response for my repositories.

sample project:
works well
[code]

but not:
[code]

Dependencies:
[code]
sample project: https://github.com/odfsoft/spring-boot-guess-game/tree/r2dbc-issue

[2019-10-14 15:43] mp911de commented on #180
Please upgrade to 0.8.0.RC2. 0.8 is the latest release after we decided to adjust version numbering:

* https://r2dbc.io/2019/05/13/r2dbc-0-8-milestone-8-released
* https://r2dbc.io/2019/10/07/r2dbc-0-8-rc2-released

[2019-10-14 15:46] odfsoft commented on #180
Thank you so much, it was indeed confusing to see from 1.0.0M7 to 0.8.0.

[2019-10-14 15:55] #180 closed

[2019-10-15 09:16] mp911de opened #181 "Support unix domain socket connections"
It would make sense to support unix domain sockets as connection addresses in addition to host/port-based addressing.

Using `PostgresqlConnectionConfiguration`, we could introduce a `socket(…)` configuration method to configure the socket endpoint.

For `PostgresqlConnectionFactoryProvider`, we could have a `Option.valueOf("socket")` that configures the socket to use.

Probably we don't have a go

[2019-10-16 02:16] mirromutth commented on #181
May be useful: `SSLSessionHandlerAdapter#operationComplete()` cast the type of `channel.remoteAddress()` result to be `InetSocketAddress` when `SSLMode` is `VERIFY_FULL`, because it need verify the hostname.

So, maybe can not support `VERIFY_FULL` when using unix domain socket.

[2019-10-16 07:15] mp911de commented on #181
Although MySQL uses the `.sock` scheme, there's really nothing that would enforce it. So let's keep the URL variant out of scope for now. I was also wondering about SSL. Probably we don't need SSL, I haven't investigated yet what the database does if SSL is available or whether it's possible to use client certificates over unix domain sockets. Likely, SSL and domain sockets do not make sense.

[2019-10-16 09:37] killaitis opened #182 "DB exceptions are not handled correctly by PostgresqlConnection for INSERT ... RETURNING in transaction"
There is an issue when using `DatabaseClient::insert()` inside of a transactional context using `R2dbcTransactionManager`. If the DB operation causes an exception (in the code example below it's a duplicate key exception), the exception is not treated by the `TransactionalOperator` / `R2dbcTransactionmanager` the same way as in case of using plain `DatabaseClient.execute()`. While in the latter ca

[2019-10-16 09:58] killaitis commented on #182
Alright, it's the statement itself, not `insert()`, so it's indeed probably related to `r2dbc-postgresql`. `insert()` creates a slightly different statement (`INSERT INTO foo (id) VALUES ($1) RETURNING *`) and the `RETURNING *` part causes the trouble. If this statement is used with `execute()`, it causes the same issue.

[2019-10-16 10:18] killaitis commented on #182
This is the trace of the whole transaction of the version without `RETURNING *`:

[code]

And this is the same trace for the version with `RETURNING *`:

[code]

[2019-10-16 10:28] mp911de commented on #182
Thanks for investigating. It looks as if the error is not properly handled in the result flow (`PostgresResult)`

[2019-10-16 22:04] skroll commented on #138
Fired up wireshark to take a look at the packets underneath the hood. When doing a select statement, with a single parameter with the JDBC driver, the driver does the Parse, Bind, Describe, Execute actions in the same message which gets sent in a single TCP packet.

The R2DBC driver does the following:
Packet 1: Parse
Packet 2: Describe
Packet 3: Sync
Packet 4: (gets description response)
Packet 5

[2019-10-17 06:47] mp911de commented on #138
Thanks a lot for having a look @skroll. We could create composite messages to combine the extended flow into a single package. These messages are issued in [`ExtendedQueryMessageFlow`](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/client/ExtendedQueryMessageFlow.java#L100). We would avoid TCP packet overhead and flush I/O buffers only once instead of after

[2019-10-17 06:48] mp911de commented on #138
I updated the ticket title to reflect the actual goal.

[2019-10-17 07:44] killaitis commented on #182
And here's a version stripped-off all spring boot, just plain r2dbc-postgres:

[code]

Again, without the `RETURNING *` part, the test works fine.

[2019-10-17 13:35] skroll commented on #138
For completions sake uploaded wireshark dumps of the same query being performed through jdbc and the r2dbc-postgresql driver. It seems like the jdbc driver just sends Parse/Bind/Describe/Execute/Sync while the r2dbc-postgresql implementation sends Parse/Describe/Sync/Bind/Describe/Execute/Close/Sync.

Would combining the extended flow messages into a single composite message reduce the number of m

[2019-10-18 14:11] Globegitter opened #183 "Add `COPY FROM` support"
I have not been able to find anything in the documentation or through the github code-search, but does this driver support the `COPY FROM` command? Here is the official documentation of the command that I am talking about: https://www.postgresql.org/docs/current/sql-copy.html

[2019-10-18 15:22] mp911de commented on #183
What exactly should the driver do? It's just an SQL command, right? You might want to consider pgjdbc/pgjdbc#1299 for the `stdin` case. There's no `CopyManager` API that allows copy in/copy out operations. We're happy to review a pull request to make these things happen.

[2019-10-18 20:32] skroll commented on #138
OK, so I figured out why there's double describe/sync. The IndefiniteStatementCache is calling ExtendedQueryMessageFlow.parse, which sends Parse, Describe, Sync. Then the actual ExtendedQueryMessageFlow.execute is called when the query is invoked, which does Bind, Describe, Execute, Close, Sync.

It only happens the first time for a query until it is cached.

[2019-10-21 23:00] emptyopen opened #184 "Cannot decode value of type java.net.InetAddress"
Trying to figure out how to query including columns that are of type `inet`. The readme seems to indicate I should use `InetAddress` type in Java, but that doesn't seem to work for me. If I change the types in Postgres to `text` and everything on the java side to `String`, that works. But I will need to query and do inet comparisons so I'd like for it to work with the `inet` type.

Postgres struct

[2019-10-22 07:56] #178 closed

[2019-10-22 08:37] mp911de opened #185 "Split unit test and integration test execution"
We should split unit test and integration test execution using surefire and failsafe plugins to bootstrap Postgres only once and split tests for friendlier build time if a unit test fails.

[2019-10-22 08:46] #185 closed

[2019-10-22 09:36] #182 closed

[2019-10-22 09:45] #160 closed

[2019-10-22 12:32] mp911de opened #186 "Enable BlobCodec and ClobCodec for binary usage"
Both codecs are enabled for the text format only. We should make them work with binary formats.

[2019-10-22 12:38] #184 closed

[2019-10-22 12:38] #186 closed

[2019-10-22 12:47] mp911de opened #187 "SSL disabled exceptions not propagated in connect phase"
Trying to connect to a server that has SSL support disabled but the client requires it fails with a hanging connection attempt as the underlying exception is not propagated.

[2019-10-22 12:52] #187 closed

[2019-10-22 15:07] #181 closed

[2019-10-22 15:10] mp911de commented on #43
As discussed in the linked ticket, GCP connections via [Cloud SQL Socket Factory](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory) require domain socket support. Unix domain socket support is now available with #181 and we can close this ticket now.

[2019-10-22 15:10] #43 closed

[2019-10-23 10:08] mp911de commented on #138
I did some experiments with pre-allocated messages and streamlined flushing behavior. By reducing the number of flushes we can roughly gain about 10% throughput in the extended query flow:

Baseline:

[code]

Composite message:

[code]

There is however still a significant gap between the extended flow in JDBC and the extended flow in R2DBC.

Caching the `RowDescription` (omitting `Describe`) didn

[2019-10-24 17:38] skroll commented on #138
Could be related to naming every portal/prepared statement but still calling Parse, which the JDBC driver does not do. IIRC, the JDBC driver only names prepared statements that are called X times in the same session (I think its 5 by default). Afterwards, once it has named the statement, it no longer uses the Parse or Describe messages. It simply calls Bind, Execute, Sync.

I just tested this usin

[2019-10-25 20:22] mp911de commented on #138
I noticed two effects during benchmarking:

1. Our JDBC fixture puts the connection into explicit transaction mode (auto-commit disabled) while the R2DBC connection is in auto-commit mode. Putting the R2DBC connection into explicit transaction mode yields another 1000 queries/sec improvement.
2. Switching message ordering in regards to Sync makes a huge difference. So switching from Bind/Describe/

[2019-10-28 07:57] Globegitter commented on #183
Thanks for the pointer - I am not sure I can really answer your question, if it should just be working then it might just be worth adding a note about in that in the documentation or adding a test for it. Part of the problem is I was comparing a few different drivers and so far the ones that I have tried have not supported it. After I found this one I could not find anything looking at the website

[2019-10-28 08:12] mp911de commented on #183
You'd help us by outlining your use-case and what you're trying to achieve to get a better impression of what's needed to make `COPY FROM` work, ideally with a bit of SQL.

[2019-10-29 18:05] otcyury opened #188 "Issue with dependencies in RC2"
I started using below dependencies and what was working started throws exceptions. Is this a problem with reactor or r2dbc library? Thanks

        <dependency>
            <groupId>io.r2dbc</groupId>
            <artifactId>r2dbc-postgresql</artifactId>
            <version>0.8.0.RC2</version>
        </dependency>

		<dependency>
		    <groupId>io.r2dbc</groupId>
		    <artifactId>r2dbc-spi</art

[2019-10-29 18:19] skroll commented on #188
You are using 0.8.0.M8 of r2dbc-spi, but the actual dependency that r2dbc-postgresql depends on is 0.8.0.RC2. I think you just need to update your r2dbc-spi dependency to the same version.

[2019-10-29 18:27] cambierr commented on #120
Here is something quick and dirty I did, given two `ConnectionFactory` objects bound to respectively slave and master servers, I implemented a custom `ConnectionFactory` wrapping the two others, and the most interesting part is:

[code]

Do you guys have an opinion on this (again, this is quick and dirty) ? If you think this is going in the good direction, we may open a PR with a highly-polished v

[2019-10-29 18:27] otcyury commented on #188
Same issue with below.

        <dependency>
            <groupId>io.r2dbc</groupId>
            <artifactId>r2dbc-postgresql</artifactId>
            <version>0.8.0.RC2</version>
        </dependency>

		<dependency>
		    <groupId>io.r2dbc</groupId>
		    <artifactId>r2dbc-spi</artifactId>
		    <version>0.8.0.RC2</version>
		</dependency>

[2019-10-29 18:42] skroll commented on #188
I just built the project myself, and integration tests passed. The "NoSuchMethodError" you are getting says that: `io.r2dbc.spi.Row.get(ILjava/lang/Class;)Ljava/lang/Object` does not exist, but I clearly see this in the compiled classes for r2dbc-spi:
[code]

[2019-10-29 19:15] otcyury commented on #188
Sorry for confusion. Turns out this was an issue with wrong spring-data-r2dbc and I fixed this issue by upgrading to 1.0.0.M2 of this library. I am now getting other compatibility issues with spring-data-r2dbc, but I think I need to contact another team for this.

java.lang.NoSuchMethodError: org.springframework.transaction.reactive.TransactionSynchronizationManager.currentTransaction()Lreactor/co

[2019-11-04 13:20] mp911de opened #189 "Upgrade to Testcontainers 1.12.3"
Also, use reusable containers.

[2019-11-04 13:22] #189 closed

[2019-11-04 13:22] mp911de commented on #189
See also testcontainers/testcontainers-java#1781.

[2019-11-06 14:56] mp911de opened #190 "Default to scalar values for LOB column retrieval according to spec changes"
See r2dbc/r2dbc-spi#130

[2019-11-07 08:57] #190 closed

[2019-11-07 15:54] mp911de opened #191 "Add customizeSslContext(Consumer<SslContextBuilder>)"
We should add a `Function<SslContextBuilder, SslContextBuilder>` to allow deep customization of the SSL context. The customizer would get applied after all settings from `PostgresqlConnectionConfiguration` were applied.

The customizer should be a function to either benefit from fluent API style or to be able to return an entirely different `SslContextBuilder`.

[2019-11-07 15:55] mp911de commented on #191
/cc @mirromutth

[2019-11-07 16:04] mp911de commented on #191
Ideally, we defer `SslProvider` creation to connect time to apply the customizer just before connect.

[2019-11-07 16:34] #191 closed

[2019-11-07 20:12] steven-sheehy opened #192 "Invalid listen example in README"
[code]

`listen.getNotifications()` can't be called because `listen` hasn't been assigned yet.

[2019-11-08 11:37] #192 closed

[2019-11-08 11:37] mp911de commented on #192
Good catch, that's fixed now.

[2019-11-14 22:30] emptyopen opened #193 "@Query with application properties?"
Is it possible to use application properties in a query?

[code]

I would like to do something like this, but `${postgres.table}` doesn't work.

[2019-11-14 23:07] gregturn commented on #193
The repo is for the Postgres driver.

The feature you describe looks more like a spring data r2dbc thing.

[2019-11-15 08:37] #193 closed

[2019-11-18 15:30] abhinav-jain09 opened #194 "Spring data with postgress and r2dbc does not work"
Hello All,

I am trying to run simple spring boot application with spring data and r2dbc but when i run select query it does return any record.

configuration
[code]

Controller
[code]
package com.ns.repository;

import com.ns.entities.Name;
import org.springframework.data.r2dbc.repository.query.Query;
import org.springframework.data.repository.reactive.ReactiveCrudRepository;
import org.springfra

[2019-11-18 16:06] mp911de commented on #194
Have you tried reproducing your issue using R2DBC Postgres API?

[2019-11-18 16:31] abhinav-jain09 commented on #194
you mean without using spring data just simple application with r2dbc api ? Well I really wanna use spring data for it. Do you want me to try with r2dbc api?

[2019-11-18 16:50] mp911de commented on #194
Exactly. If you can reproduce the issue with the driver API, then your issue belongs here. If not, then your issue is likely related to Spring Data.

[2019-11-18 17:02] abhinav-jain09 commented on #194
It’s very strange that I did not find any working example by spring data anywhere.

[2019-11-19 13:08] abhinav-jain09 commented on #194
I checked the simple insert which is in the readme file of this project, it also not working. I do not get any records inserted.  @mp911de

[2019-11-19 13:12] mp911de commented on #194
Would you mind sharing the code that you've used to insert rows that is not working for you in the context of a running project, ideally a GitHub repository?

[2019-11-19 13:15] abhinav-jain09 commented on #194
[code]
If you want I can cheking this code to github but its pretty simple just connection and insert

[2019-11-19 13:50] mp911de commented on #194
The resulting `Publisher` (of `flatMapMany(… .execute())`) isn't subscribed to. In Reactive Programming, nothing happens until you subscribe.

In an application, you typically hand back the `Publisher` to an endpoint handler, that handles subscription for you.

In a test, you would initiate a subscription by either using Project Reactor's `StepVerifier` or by calling `.block()`.

[2019-11-19 14:11] abhinav-jain09 commented on #194
[code]
Now I subscribe to it still it does not work

[2019-11-19 15:05] mp911de commented on #194
How exactly `it still it does not work` does materialize? Do you see an exception?

We're not really progressing here.

If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it and, ideally, providing a [minimal sample](https://stackoverflow.com/help/mcve) in the form of a GitHub repository that reproduces the problem.

[2019-11-19 15:20] abhinav-jain09 commented on #194
okay, I am going to make repo for it . when I say it does not work meaning it does not insert the record in the database and I do not see any exception on the console. I expect that record should be inserted with the following code
[code]

[2019-11-21 22:17] fjacobs commented on #194
FYI: Subscribe seem to behave different for H2 and Postgres. When using H2 the following will write a table to the DB, but not when using Postgres:

[code]

[2019-11-22 08:39] mp911de commented on #194
Please make sure to consume the `Result` object. Just executing the statement without consuming the `Result` can result in undesired effects. R2DBC consumes the data as stream from the wire protocol so not consuming `Result` (either `getRowsUpdated()` or `map(…)`) can leave statements unexecuted.

So rewriting your code to

[code]

should help you to get things going.

[2019-11-25 13:44] mp911de opened #197 "Release 0.8.0.RELEASE"

[2019-11-25 13:44] mp911de opened #198 "Update changelog for 0.8.0.RELEASE"

[2019-11-25 13:53] #198 closed

[2019-11-25 14:16] mp911de opened #200 "Drop SLF4J in favor of Reactor's Logger utilities"
Reactor ships with a logger utility that integrates with the available logger implementation that is on the classpath. We should move off SLF4J and reduce the required dependencies.

[2019-11-25 14:24] mp911de opened #201 "Add query logger"
It makes sense to provide a query logger to introspect which statements were executed

[2019-11-25 14:40] #200 closed

[2019-11-25 14:40] #201 closed

[2019-11-25 16:39] #18 closed

[2019-11-25 16:42] mp911de opened #202 "Upgrade to R2DBC SPI 0.8.0.RELEASE"

[2019-11-25 16:48] #202 closed

[2019-11-27 13:54] mp911de opened #204 "Upgrade to Reactor Dysprosium SR2"

[2019-11-27 13:55] #204 closed

[2019-11-28 08:00] #197 closed

[2019-12-02 07:42] mp911de commented on #194
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-02 07:42] #194 closed

[2019-12-02 10:52] max-grigoriev opened #207 "rowsUpdated() returns more than one item."
## Bug Report

#### Versions

- Driver: 0.8.0.RELEASE
- Database: Postgres RDS 9.6.11
- Java: Corretto-8.232.09.1
- OS: Linux Debian

#### Current Behavior

Sometimes after insert, I receive `Source emitted more than one item`. I can't find a reproducible scenario. This issue comes from time to time in our logs.
<details>
<summary>Stack trace</summary>

[code]

</details>

#### Table schema

<deta

[2019-12-02 10:59] mp911de commented on #207
Thanks for report. Can you attach a log on at least `DEBUG` level of the failing `INSERT` operation? It looks like `INSERT … ON CONFLICT UPDATE` generates two `CommandComplete` messages.

[2019-12-02 11:23] Squiry commented on #207
[documentation](https://www.postgresql.org/docs/current/protocol-flow.html)

[2019-12-03 09:36] max-grigoriev commented on #207
I can't enable debug level on this host. And I can't reproduce it on localhost. :(

[2019-12-06 15:37] steven-sheehy opened #208 "Fails to startup with forceBinary=true using Spring Boot"
## Bug Report

#### Versions

- Driver: r2dbc-postgresql:0.8.0.RELEASE
- Database: 11.3
- Java: 8
- OS: MacOS

#### Current Behavior

Using `org.springframework.boot.experimental:spring-boot-bom-r2dbc:0.1.0.M2` with `r2dbc-postgresql:0.8.0.RELEASE` and the following properties throws an error on startup. Seems r2dbc expects boolean for forceBinary but Spring Boot stores it as String in `private Ma

[2019-12-09 10:03] mp911de commented on #208
This `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people from gro

[2019-12-09 11:54] ask4gilles commented on #208
@mp911de I'm in.

[2019-12-09 14:00] Mihango commented on #208
Is it possible we work both of us. It will be my first time and would love to.

[2019-12-09 15:43] ManikantaMaddipati commented on #208
@mp911de I am interested

[2019-12-09 15:47] mp911de commented on #208
Thanks for your interest @Mihango and @ManikantaMaddipati. @ask4gilles already claimed this issue and submitted a pull request #209.

[2019-12-09 22:03] wites342 opened #211 "Composite key - postgresql & r2dbc"
I almost made it work and created r2dbc project with all required for me features. unfortunqtely I cannot create any composite keys in r2dbc. I found an discussion of it here but its from march. Did anything change in this subject?
https://stackoverflow.com/questions/55349082/is-it-possible-to-implement-a-pojo-in-spring-boot-that-has-a-field-representing

Github project:
https://bitbucket.org/wite

[2019-12-10 13:05] #208 closed

[2019-12-10 13:16] mp911de commented on #211
R2DBC Drivers are an SQL-based interface that return tabular results. That being said, you're free in the SQL that you want to run via R2DBC Postgres.

The Stack Overflow you've referenced specifically uses Spring Data R2DBC which does not support composite primary keys yet.

Closing this ticket as the issue doesn't seem related to the driver.

[2019-12-10 13:16] #211 closed

[2019-12-12 00:09] belkirdi commented on #95
Hello,
I had a chance to integrate today agens graph codecs and converters with R2DBC and it's working like a charm !!
I will share my first version of the code with you ASAP

[2019-12-13 14:49] mp911de commented on #207
I tried to reproduce the issue with no luck. Either the `INSERT` command sends an unexpected response, or (that's what I assume) there are non-consumed frames on the protocol stack. Having a reliable reproducer would allow us to trace down the issue.

[2019-12-16 16:25] steven-sheehy opened #212 "On error not triggered when listen connection terminated"
## Bug Report

Fails to trigger an `onError` when the database is stopped and using postgresql listen.

#### Versions

- Driver: `0.8.0.RELEASE`
- Database: `postgres:11.3-alpine`
- Java: 11
- OS: MacOS

#### Current Behavior

<details>
<summary>Stack trace</summary>

[code]

</details>

#### Table schema

<details>
<summary>Input Code</summary>

[code]

</details>

#### Steps to reproduce

Run JU

[2019-12-16 19:31] gregturn opened #213 "Migrate to Jenkins CI"

[2019-12-16 19:32] gregturn opened #214 "Enable Travis for pull requests"

[2019-12-16 19:38] #213 closed

[2019-12-16 19:38] #214 closed

[2019-12-16 19:39] gregturn opened #216 "Backport Jenkins to 0.8.x"

[2019-12-16 19:39] gregturn opened #217 "Backport Travis support to 0.8.x"

[2019-12-16 19:49] #216 closed

[2019-12-16 19:49] #217 closed

[2019-12-26 19:59] LaoTsing commented on #61
Please add to support TYPE on UUID column types as JSON

[2019-12-26 21:02] mp911de commented on #61
Please file a new ticket instead of requesting features on closed tickets. Thank you.

[2019-12-26 22:48] LaoTsing opened #219 "Selecting @EnableR2dbcRepositories with repositoryFactoryBeanClass always need to select basePackages or basePackageClasses"
## Bug Report

I wrote a jar-library with another R2dbcRepository implementation, which is specified in the parameter repositoryFactoryBeanClass, but it is impossible to connect as library, because required parameters basePackages or basePackageClasses needed - I can’t fill them inside the library, please add new parameter to @EnableR2dbcRepositories as example repositoryClass to scan repositories

[2019-12-27 11:53] LaoTsing opened #220 "Custom comparators for R2dbcRepository in Spring Data"
## Feature Request

Needed custom comparators for supporting special Jsonb, Arrays and Full Text Search of PostgreSQL inline queries in Criteria builder

#### Describe the solution you'd like

As solution may be create comparators as bean and dynamic extending collection:

`enum Comparator {
		EQ, NEQ, LT, LTE, GT, GTE, IS_NULL, IS_NOT_NULL, LIKE, NOT_IN, IN,
	}`

[2019-12-27 18:44] mp911de commented on #220
This repository contains the Postgres driver which does not come with any kind of repository abstraction. The driver uses plain SQL to interact with database statements. You want rather to file your issue in the Spring Data R2DBC repository.

[2019-12-27 18:45] #220 closed

[2019-12-27 20:18] #219 closed

[2019-12-27 20:18] LaoTsing commented on #219
moved to [https://github.com/spring-projects/spring-data-r2dbc/issues/262](url)

[2019-12-29 09:59] LaoTsing opened #221 "Custom comparators for R2dbcRepository in Spring Data"
## Feature Request

Needed custom comparators for supporting special iLike, Jsonb, Arrays, Ranges and Full Text Search of PostgreSQL inline querying in Criteria builder (do not custom, only inline)

#### Describe the solution you'd like

For each database driver i think need custom collection of comparators and Spring Data, can use it different of database type

[2019-12-29 12:07] #221 closed

[2019-12-29 22:12] gabrieldn opened #222 "Insertion of too many rows do not complete"
## Bug Report

#### Versions

- Driver: 0.8.0.RELEASE
- Database: postgres:9.0/postgres:12.1/postgres:12.1-alpine
- Java: 1.8/11/13
- OS: Windows/MacOS

#### Current Behavior

Insertion queries that use bind and returning do not complete when inserting too many rows.

When inserting multiple rows, there is a limit to the amount that can be inserted. When that limit is reached, the execution will j

[2020-01-06 06:18] x0a1b opened #223 "Capability to disable prepared statement caching"
So when using Postgres with connection poolers like [pgbouncer](http://www.pgbouncer.org/) one might end up in a situation where you have to disable prepared statement caching. This is what Postgres JDBC driver allows if you set `prepareThreshold=0` in connection string. As far as I can see from [source code](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/P

[2020-01-08 10:07] msoub opened #224 "IN clause binding"
## Bug Report

#### Current Behavior

[code]
when binding the parameter with a list, the following error happens:

<details>
<summary>Cannot encode parameter of type java.util.ArrayList</summary>

[code]

</details>

#### Expected behavior/code

I'd expect the list to be bound correctly.

[2020-01-08 10:14] mp911de commented on #224
This is the expected behavior. Postgres requires a parameter placeholder for each parameter. If you want to bind a collection of parameters, then you must reflect each parameter in your SQL statement and bind each parameter individually:

[code]

[code]

[2020-01-08 10:14] #224 closed

[2020-01-08 20:54] Squiry commented on #138
@mp911de I think we can use NettyOutbound.sendGroups instead of those composite messages. It works just as you want and we already submit our messages grouped in publishers.
Log:
[code]

[2020-01-08 21:17] Squiry commented on #223
One note: pgjdbc handles errors "prepared statement does not exist" and retries the whole process even when caching enabled. I'm not sure that poolers are the reason of this behaviour though.

[2020-01-08 21:50] mp911de commented on #138
Thanks for having a look. That looks good. Probably we need another `exchange` method so we can choose the method depending on the type of exchange that we want to use.

The performance gains from my branch are okay but that's not a terribly huge increase in throughout. Especially the `Bind/Describe/Execute/Sync/Close` sequence reordering requires changes in windowing and I'm not sure I can find t

[2020-01-12 04:58] craftxbox opened #226 "PostgresqlConnectionFactory$PostgresqlConnectionException Isnt a public class."
PostgresConnectionException is marked simply as static, without setting a privacy modifier, thus making it not possible to catch() a connectionexception (or instanceof it)

[2020-01-12 09:23] mp911de commented on #226
`PostgresConnectionException` is by design package-private. Use `R2dbcNonTransientResourceException` instead. This way you interact with [SPI exceptions](https://r2dbc.io/spec/0.8.0.RELEASE/spec/html/#exceptions.categorized) rather than with implementation-specific exceptions as the implementation may of a driver may change at any time.

Can you give us some background why you want to catch `Postg

[2020-01-12 12:00] JoelWachsler commented on #222
I have the exact same problem but it hangs on the 2590th insert every time.
I played around a little and noticed that if `RowsFetchSpec.first()` is used it hangs but if `RowsFetchSpec.one()` is used it works flawlessly.

Example that hangs on the 2590th insert:
[code]
Example that works:
[code]

[2020-01-12 13:21] mp911de commented on #222
Thanks for investigating. I assume it's related to #2. SQL Server and MySQL drivers ship already a `…DiscardOnCancel` operator (see r2dbc/r2dbc-mssql#106) and we should add a similar one, too.
Calling `first(…)` may leave unconsumed protocol frames in the transport buffer and so the protocol state gets mixed up.

[2020-01-12 21:04] craftxbox commented on #226
I'd like to specifically catch it because we're trying to have a case to check if a query failed because the server was not online/unreachable, as opposed to a permanent failure not caused by the database being unreachable

[2020-01-13 07:01] mp911de commented on #226
You can identify that case by inspecting the cause which is an instance of `ConnectException`. Closing as we don't have plans to change the design.

[2020-01-13 07:01] #226 closed

[2020-01-15 09:04] vnobo commented on #222
I also encountered it, and temporarily replaced it with one()

[2020-01-15 14:32] mcgin commented on #207
I've managed to reproduce and here is the debug output from around the error from ReactorNettyClient

[code]

[2020-01-20 10:47] #223 closed

[2020-01-20 12:46] mp911de commented on #212
Probably it would make sense to send different signals when the connection was closed intentionally and unintentionally. If the server goes down, we should send `onError`. When the application gets shut down, then we would complete the stream normally (`onComplete`).

[2020-01-20 14:58] mp911de commented on #222
I was able to reproduce the issue with just R2DBC Postgres:

[code]

What happens here is that after a couple of iterations (about 260 for me), one of the last statements puts the socket into explicit read mode because it has no demand anymore (the one row that was requested via `first()` or `next()` has been emitted). This is, when downstream consumers don't have demand, Reactor Netty stops readi

[2020-01-21 09:24] mp911de commented on #44
Superseded by #222 and #228.

[2020-01-21 09:24] #44 closed

[2020-01-21 13:15] mp911de commented on #173
We're going to introduce a `RefCursor` interface exposing the cursor name and a `Mono<PostgresqlResult> fetch()` method to consume the cursor.

[2020-01-22 08:33] #207 closed

[2020-01-22 09:33] mp911de opened #231 "Reinstantiate backpressure propagation to NettyInbound"
With a recent change, we no longer propagate the backpressure from the R2DBC SPI (e.g. `Result.map(…)`) to `NettyInbound`. Previously, we used windowing and passed the `Flux<Message>` directly to the consumer. Now we're using `handle(…)` and send the messages to the conversation receiver instead of to a window that is directly connected to `NettyInbound`.

The missing backpressure propagation can

[2020-01-22 10:43] Squiry commented on #231
Well it's not like backend will stop message producing if we propagate it to NettyInbound, so why should we care?

[2020-01-22 11:02] mp911de commented on #231
Not reading messages from the channel leaves the messages in the receive buffers. If these buffers are full, then the sending side does not receive acknowledgments and is required to slow down. This effect is called TCP Backpressure and part of [TCP Flowcontrol](https://www.brianstorti.com/tcp-flow-control/). See also [Wikipedia](https://en.wikipedia.org/wiki/Transmission_Control_Protocol#Data_tra

[2020-01-22 12:20] Squiry commented on #231
Well reactor netty [kind of](https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/channel/FluxReceive.java#L307) doesn't care too: it will store 'em all in a queue, not in a tcp buffer.

[2020-01-22 12:42] mp911de commented on #231
Right, Reactor Netty can buffer a few messages. If [`FluxReceive`](https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/channel/FluxReceive.java#L264-L268) sees there is no demand, it disables auto-read from the channel and that is how additional TCP packets are kept outside of the JVM process.

[2020-01-24 18:45] steven-sheehy commented on #223
Documentation is wrong in README and mentions -1 to disable instead of 0:
[code]
Documentation in code looks correct:
[code]

[2020-01-27 07:46] mp911de commented on #223
Good catch, that's fixed now.

[2020-01-27 07:48] mp911de opened #232 "ConcurrentHashModification at IndefiniteStatementCache"
`IndefiniteStatementCache` uses a plain `HashMap` without synchronization.

[2020-01-27 07:53] #232 closed

[2020-01-27 15:25] #173 closed

[2020-01-27 16:23] #222 closed

[2020-01-28 08:17] mp911de commented on #212
That's fixed now.

[2020-01-28 08:17] #212 closed

[2020-01-28 21:51] timve opened #233 "Add a codec for BigInteger"
I would like to add support for the `BigInteger` type to the codecs.

In our project we use r2dbc in combination with code generated by jooq (based on the sql schema). When a Numeric column has a scale of 0 (the default) and has a sufficiently high precision, the generated java type for the column is a `BigInteger`.

I would like to be able to get the column value as this type from r2dbc by adding

[2020-01-28 21:55] timve opened #234 "Add codec for java.sql.Date and java.sql.Timestamp"
I would like to add support for the `java.sql.Date` and `java.sql.Timestamp` types to the codecs.

In our project we use r2dbc in combination with code generated by jooq (based on the sql schema). When using a Date column in the schema jooq will generate the java type for the column as a `java.sql.Date`. Similar when using a Timestamp column in the schema jooq will generate the java type for the c

[2020-01-29 07:11] mp911de commented on #233
Sounds like a good fit for the driver. Do you want to submit a pull request for the codec along with some tests?

[2020-01-29 07:20] mp911de commented on #234
Both types originate from the JDBC package java.sql. We do not have a dependency on JDBC and we don’t want to add one. Instead, R2DBC is based on java.time types that make a much better fit for date and time types.

jOOQ is based on JDBC itself so it clearly assumes SQL date and timestamp types.

Having this type of codec in your own code (or hosted in a JDBC compatibility project) is the right pl

[2020-01-29 07:20] #234 closed

[2020-01-29 08:02] timve commented on #234
Thank you for the quick response. Sounds like a valid argument, we will keep it in our own code.

I will have another look into the jooq features to see if we could tell it to pick the new java.time types that are much nicer to work with anyway ;-).

[2020-01-29 08:37] timve commented on #233
Thank you for the quick response, I have opened pull request #235 to add the codec to the driver.

[2020-01-29 08:39] mp911de commented on #234
Related jOOQ ticket for non-JDBC execution engines: https://github.com/jOOQ/jOOQ/issues/6298

[2020-01-29 13:20] #233 closed

[2020-01-29 13:20] mp911de opened #236 "Update license header years to 2020"

[2020-01-29 13:21] mp911de opened #237 "Release 0.8.1.RELEASE"

[2020-01-29 13:24] #236 closed

[2020-01-29 16:09] mp911de commented on #231
@Squiry I took your [commits](https://github.com/Squiry/r2dbc-postgresql/commit/b03ff0db03345023a292453e37c63c98c42e35f1) and refactored `BackendMessageSubscriber` and `Conversation` to make it nicer. As of now, all tests run green.

[2020-01-29 16:10] #231 closed

[2020-01-30 09:38] mp911de opened #238 "Upgrade dependencies"
* AssertJ 3.15.0
* HikariCP 3.4.2
* JUnit 5.6.0
* Mockito 3.2.4
* Postgres JDBC 42.2.9
* Reactor Dysprosium SR4
* Spring JDBC 5.2.3

[2020-01-30 09:38] #238 closed

[2020-01-30 14:11] mp911de opened #239 "Allow configuration of ErrorResponse and NoticeResponse logging"
Right now `ErrorResponse` and `NoticeResponse` are logged with the `WARN` log level. We should allow configuration of the logging behavior. The following logging behaviors could be possible:

* Disable logging
* Configure a log level for either one
* Consider the log level according to the severity.

[2020-01-31 17:01] gregturn opened #240 "Use different container when releasing to maven central."

[2020-01-31 17:02] #237 closed

[2020-01-31 17:02] #240 closed

[2020-01-31 17:05] gregturn opened #241 "Upgrade to SPI 0.8.1.RELEASE"

[2020-01-31 17:09] #241 closed

[2020-02-04 04:24] steven-sheehy opened #242 "High CPU usage when cancelled query"
## Bug Report

Using 0.8.1 in our [project](https://github.com/hashgraph/hedera-mirror-node/blob/master/hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java) and running into an issue where we see very high CPU utilization after performing a simple select on a table. The below jstack output shows some sort of infinite loop in `io.r2dbc.postgresql.client.Reac

[2020-02-04 08:08] mp911de commented on #242
Caused by #231.

[2020-02-06 04:15] steven-sheehy commented on #242
I've made a reproducer project at https://github.com/steven-sheehy/r2dbc-highcpu

Please checkout and debug `R2DbcExampleApplicationTests`. If you run jstack or put a break point in `ReactorNettyClient$BackendMessageSubscriber.drainLoop()` you can see that it is an infinite busy loop.

[2020-02-07 13:56] mp911de commented on #242
Thanks a lot. The issue is that we react to whether the buffer has buffered protocol frames but not whether the conversation has demand. The drain loop keeps looping forever. It actually should exit if the conversation has no demand.

[2020-02-07 14:11] mp911de opened #243 "Add fast-path emission of incoming frames"
Currently, we employ a drain-loop along with buffering to dispatch protocol messages. We should add a fast-path if the current buffer is empty.

[2020-02-07 14:18] #243 closed

[2020-02-07 14:24] mp911de commented on #242
I just pushed a fix for this one. The test case runs after upgrading to `0.8.2.BUILD-SNAPSHOT`.

[2020-02-07 20:17] steven-sheehy commented on #242
Thanks, I can confirm it addresses the high CPU

[2020-02-07 20:17] #242 closed

[2020-02-08 10:13] My- opened #244 "Add codec for Postgres enumerated types"
## Feature Request
Looks like enums are not supported.

#### Is your feature request related to a problem? Please describe
Maybe I missing something, or doing something wrong but I can't make Postgres enum type work (query with SELECT, INSERT).

#### Describe the solution you'd like
Possibility to map directly to Java enum type to Postgres enum.

#### Describe alternatives you've considered
An alt

[2020-02-08 10:17] mp911de commented on #244
We decided to not support Java native enums within the driver as enums are a user-space feature regarding their mapping possibilities (string name, ordinal, Postgres type). You can register your own codec if you wish to do so with your specific mapping rules.

[2020-02-10 18:04] steven-sheehy opened #247 "Queries never complete"
## Bug Report

Reproduction project: https://github.com/steven-sheehy/r2dbc-stalled-clients

If connection pool size is set to X, then whenever more than X subscribers run a query concurrently they are stalled and never receive any messages.

#### Versions

- Driver: 0.8.2.BUILD-SNAPSHOT
- Database: Postgres
- Java: 11
- OS: MacOS

#### Current Behavior

1. Set maxPoolSize to 10
2. Start 15 concur

[2020-02-10 18:16] steven-sheehy commented on #247
Also occurs in 0.8.0

[2020-02-10 19:47] mp911de commented on #247
What do you mean with more queries/subscribers than pool size?

The pool hands out only as many connections as there are configured. Any subsequent allocation is enqueued and awaits a free connection. A bit of sample code would be helpful.

[2020-02-11 12:58] #121 closed

[2020-02-11 13:31] cambierr opened #248 "ResourceLeakDetector reporting "LEAK: ByteBuf.release() was not called before it's garbage-collected""
## Bug Report

It seems that netty's ResourceLeakDetector is complaining about memory leak issues as per `LEAK: ByteBuf.release() was not called before it's garbage-collected`

#### Versions

- Driver: postgres
- Database: PG 12 community
- Java: 11.0.2
- OS: Debian 10

#### Current Behavior

During operation, Netty is complaining about leaks which I can't diagnose myself.

<details>
[code]
</deta

[2020-02-11 14:37] mp911de commented on #248
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it and, ideally, providing a [minimal sample](https://stackoverflow.com/help/mcve) that reproduces the problem. The actual usage can be cruical for reproducing the issue. Please ideally use R2DBC SPI only without any 3rd-party libraries to provide a reproducer.

[2020-02-14 10:18] mp911de commented on #248
Along with efforts around #245, we closed a memory leak that was releated to closing the client. You might want to upgrade to the latest snapshots and retest.

[2020-02-15 08:11] cambierr commented on #248
I just finished building a simple reproducer that does it 99% of the time.

Will test that snapshot today and be back with whether or not it fixes that issue !

[2020-02-16 23:41] steven-sheehy opened #251 "Automatically cancel running queries"
## Feature Request

Following up on #246, it would be nice to auto cancel long running queries when the subscription is cancelled. It looks like the PR only added an API to allow queries to be cancelled but didn't hook it into the flow to automatically cancel queries. This is a formal request for the latter scenario.

The following test case fails on master with #246 but should succeed:

[code]

#

[2020-02-17 06:51] mp911de commented on #251
I'm not sure about the implications on small result sets within a highly concurrent environment. The driver makes use of pipelining which blurs the line of which statement gets actually canceled. Cancellation happens on a regular basis. (e.g. `connection.createStatement("INSERT INTO RETURNING *").flatMap(extractKey).first()`). Statements of this kind are completed already and cancellation would af

[2020-02-17 08:05] mp911de commented on #247
I'm no longer able to reproduce the issue with 0.8.2.BUILD-SNAPSHOT. I can reproduce the issue with 0.8.0.RELEASE and 0.8.1.RELEASE.

Can you give it a retry to check whether we can close this ticket?

[2020-02-17 23:02] steven-sheehy commented on #247
Yes, with `0.8.2.BUILD-20200214.102436-4` it now works. Thanks for checking.

[2020-02-18 19:46] xqfgbc opened #252 "multiple usage of same collection parameter in extended query"
I wanna to execute native query like below:

[code]
but it throw an error like this: java.lang.IllegalStateException: Bound parameter count does not match parameters in SQL statement

[2020-02-18 20:20] mp911de commented on #252
The Postgres driver uses $1, $2, $n notation for parameters. This is likely a Spring Data issue. Can you attach the actual SQL query or  run the native query using plain R2DBC API?

[2020-02-19 02:20] xqfgbc commented on #252
May be you are right. I found something wrong under package org.springframework.data.r2dbc.core.

[2020-02-19 10:19] mp911de commented on #252
Indeed, Spring Data R2DBC renders a SQL statement that does not match the bindings:

[code]

while binding only positions `$1`, `$2` and `$3`.

[2020-02-19 10:19] #252 closed

[2020-02-19 10:43] mp911de commented on #252
I filed spring-projects/spring-data-r2dbc#310 to address the issue in Spring Data R2DBC.

[2020-02-21 16:00] honorem commented on #248
We did update to the latest snapshot (0.8.2-SNAPSHOT) but we ended up with a new error blocking the service entirely. This error does not happens when we use the 0.8.0-RELEASE (maybe this is linked to another change in the SNAPSHOT?)

What we found is that our application is blocked by a thread after a cancel and end up using 100% of the CPU. Here is what we found in VisualVM:

![Screenshot from 2

[2020-02-21 16:07] mp911de commented on #248
We fixed the infinite loop issue with #242. I wouldn't be surprised if there's another issue that causes the infinite loop as we entirely rewrote command queueing between 0.8.0 and 0.8.1.

[2020-02-26 19:45] steven-sheehy opened #253 "IllegalStateException when reading empty byte array"
## Bug Report
Insert a row with a empty byte array (not null) then attempt to read it:

[code]

#### Versions

- Driver: master
- Database: Postgresql
- Java:
- OS: Ubuntu

#### Current Behavior

<details>
<summary>Stack trace</summary>

[code]

</details>

#### Table schema

<details>
<summary>Input Code</summary>

[code]

</details>

#### Steps to reproduce

<details>
<summary>Input Code</summar

[2020-02-28 08:30] #253 closed

[2020-02-28 08:35] mp911de commented on #248
Closing due to inactivity. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-02-28 08:35] #248 closed

[2020-03-05 14:25] fzoli opened #255 "LargeObject support via OID"
## Feature Request

**PostgreSQL** supports two type of large object:
- **byte array** (`R2DBC SPI` supports it with `Blob`)
- **oid** as a reference (of course the `SPI` has no such support)

Here are the differences:

| Characteristic | BYTEA | OID |
| -------------- |-----| ---|
| Max. allowed space | 1 GB | 2 GB |
| Data access | As a whole | Stream-style |
| Storage | In defined table | In pg

[2020-03-05 16:12] mp911de commented on #255
Thanks for your proposal. How does this work right now with PGJDBC? Ideally, we can reuse `Blob` as the streaming interface is already available there.

[2020-03-05 19:43] fzoli commented on #255
## Here is the API of PGJDBC

`Connection` of PGJDBC provides `LargeObjectManager` via `connection.unwrap(PGConnection.class).getLargeObjectAPI()`

Methods of `LargeObjectManager`:
- `LargeObject open(long oid, int mode)` opens an existing large object, based on its OID
- `long create(int mode)` creates a large object, returning its OID
- `void delete(long oid)` deletes the large object

Argument

[2020-03-06 06:39] fzoli commented on #255
I reconsidered my request. `LargeObject` is memory efficient because the client code uses the same byte array in a loop. With reactive stream data is immutable so we can consume only `ByteBuffer` chunks. With a large file maybe the overhead of the chunks are worse than the memory requirement of a new thread that can use the blocking API. Or not?

[2020-03-06 08:01] mp911de commented on #255
Thanks for the details. The Large Object API is pretty different from a plain Blob, so it seems using `io.r2dbc.Blob` isn't necessarily a suitable approach.

With this API being a driver-specific API, we can use Netty's `ByteBuf` which can be pooled buffers so we have GC pressure covered. Looking at PGJDBC's `LargeObject` we should be able to mirror the same API with using reactive types along (e.

[2020-03-06 10:35] davecramer commented on #255
@mp911de what is the question ?
see https://www.postgresql.org/docs/current/libpq-fastpath.html for the reasoning for the deprecation

[2020-03-06 10:41] mp911de commented on #255
The actual question is how the replacement should look like. I wasn't able to find an example how to call functionality required for the Large Object API such as `lo_close`, `loread`, `lo_tell` and others via SQL.

[2020-03-06 10:49] davecramer commented on #255
Interesting looks like the driver still uses FastPath and we don't have any tests for it. Honestly I don't use it but could probably figure it out when I have some time. If they happen to figure it out first that would be awesome

[2020-03-06 12:41] mp911de commented on #255
Thanks, Dave. I marked this ticket as ideal for contribution.

It makes sense to add such a feature to our library and we can work out the actual API when we receive a design proposal in form of a PR.

[2020-03-06 16:20] steven-sheehy commented on #251
It may be that using fetch size may be sufficient for my use. But it's currently impractical for use due to missing:

- Fetch size support in `DatabaseClient`
- Fetch size support in `@Query` methods
- Default fetch size in `ConnectionFactory`

I still think there's a need to cancel un-cursored queries. With PG JDBC you can cancel the statement and if the ResultSet is still awaiting completion you

[2020-03-06 19:02] mp911de commented on #251
We could enable this behavior and run a couple tests with Spring Data to see how this goes. My statement is based on the typical effects of concurrency and probably I’m a bit overcautious.

[2020-03-07 12:45] Squiry commented on #255
@fzoli You can call any of those functions without driver's explicit support. Take a look [here](https://gist.github.com/Squiry/57e1801fadcdea8294579abd51f033ac).
But there's one bad thing in reading: backend will send data by 65536 bytes chunks, but our driver won't decode it until it will receive full packet. So we have to rework our receiving process to support lazy decoding or we have to call

[2020-03-07 23:52] steven-sheehy opened #256 "Default fetch size"
## Feature Request

Add a configuration option to set the default fetch size support on the ConnectionFactory.

#### Is your feature request related to a problem? Please describe

There's currently no way to set the default fetch size globally or via higher level Spring Data operations like `@Query` or `DatabaseClient`. When fetch size is unset, queries are un-cursored and can't be cancelled.

###

[2020-03-09 17:55] steven-sheehy commented on #247
I'm reopening this as I experienced the issue with `0.8.2.BUILD-20200228.083734-6`. I've updated the test repo to fail with this version. The test case is a bit convoluted as I don't know how to test multiple subscribers concurrently very well.

The test case is 3 subscribers each polling the database repeatedly to get the next 1000 messages at a time. Additionally, I simulate client backpressure

[2020-03-10 10:48] #256 closed

[2020-03-10 10:50] mp911de commented on #247
Thanks Steven. This issue requires further investigation of what happens and why it happens. I also tend towards a cause that isn't caught properly with either subscription (demand) or concurrency handling.

[2020-03-12 17:25] OrangeDog commented on #255
In JDBC, the OID-based large objects are exposed as `java.sql.Blob`. I've not really looked at R2DBC, but I don't see why the `io.r2dbc.Blob` interface wouldn't be suitable for the common case (read/write a stream).

[2020-03-12 17:29] mp911de commented on #255
That was at first also my thought. The large object API allows for several additional methods such as seeking, truncation, length introspection. We need a bit of code to see how this enhancement goes and how the API shapes up.

[2020-03-13 19:32] jimisdrpc opened #258 "is it recommend for Reactive solution in a Company or just to be re-used inside wrappers like Spring-Data"
I read "This implementation is not intended to be used directly, but rather to be used as the backing implementation for a humane client library to delegate to". Does it mean that I should avoid use it directly? In other words, are you saying I should favor https://spring.io/projects/spring-data-r2dbc?

Let me share my context: we decide to develop our BackEnd for FrontEnd using Reactive approache

[2020-03-14 09:37] davecramer commented on #255
So is LO support a necessity? I don't really see many people using this in JDBC ?

[2020-03-14 11:24] mp911de commented on #255
I don't know as I'm not so much involved in how folks use Postgres with large objects. I don't mind making sure our driver is able to work with server-side functions so that this feature could live also outside of the driver.

[2020-03-14 11:33] davecramer commented on #255
Makes sense I guess. I probably wouldn't prioritize it.

[2020-03-14 11:56] OrangeDog commented on #255
As an actual Postgres user, blob support is crucial. A bytea is not a blob.

This is like arguing you don’t need to support char because you don’t see many people using it.

[2020-03-14 12:31] davecramer commented on #255
Speaking from some authority as primary maintainer for the PostgreSQL JDBC driver and major contributor for Postgres and long time user (since 1999) I honestly don't see a lot of use of large objects. Now perhaps I am myopic, I don't know. That said I didn't say don't support it, I said I wouldn't prioritize it.

[2020-03-14 12:35] OrangeDog commented on #255
If by "large objects" you mean `LargeObject`s then perhaps that's fair, but most people will use large objects in Java via `Blob`.

[2020-03-14 15:53] davecramer commented on #255
Yes I was referring to LargeObjects.

[2020-03-16 19:48] gregturn opened #259 "Stage releases directly on maven central"

[2020-03-16 19:48] gregturn opened #260 "Stage releases directly on maven central"

[2020-03-16 19:57] #259 closed

[2020-03-16 19:57] #260 closed

[2020-03-17 20:55] gregturn opened #262 "Backport usage of testcontainers 1.13.0"

[2020-03-17 20:56] #262 closed

[2020-03-24 09:23] mp911de opened #263 "Release 0.8.2.RELEASE"

[2020-03-24 09:26] mp911de opened #264 "Upgrade to Reactor Dysprosium-SR6"

[2020-03-24 09:28] mp911de opened #265 "Upgrade to netty 4.1.47.Final"

[2020-03-24 09:30] mp911de opened #266 "Upgrade build plugin and test dependencies"

[2020-03-24 09:36] #264 closed

[2020-03-24 09:36] #265 closed

[2020-03-24 09:36] #266 closed

[2020-03-24 14:42] steven-sheehy commented on #247
Not sure why this is classified as a task and ideal for contribution. In my opinion, it's a P1 bug that is hard for newbies like myself to track down. R2DBC never recovers from this scenario without a JVM restart. It makes R2DBC unusable for our use case and I was forced to look into to migrating away from the library.

[2020-03-24 14:59] mp911de commented on #247
The reason this ticket is labeled with `ideal for contribution` is rooted in the fact that all maintainers on this project are busy with some other kind of work (mostly their day job) and we ask the community for additional help.

I'm sorry to hear about the hassle you're having with that issue. This specific issue requires a couple of days of investigation and a clear mind which wasn't possible a

[2020-03-25 16:31] #263 closed

[2020-03-26 09:43] DRSains opened #267 "Ability to change log level of transaction fail to commit"
I'm using @Transactional on a service that does several chained reactive queries. The isolation level is SERIALIZABLE, because of concurrency issues it is expected that sometimes I get a conflict and simply retry from scratch, and in fact the application behaves accordingly.

When that happens though, I get huge error logs about the fact that Exception translation fails. Like this:

[code]

althou

[2020-03-26 10:27] mp911de commented on #267
There are two issues here:

1. The logs aren't produced by the driver not has the driver an issue. Logs are produced by Spring's `TransactionInterceptor`. You might want to file the ticket in the https://github.com/spring-projects/spring-framework issue tracker.
2. Exception translation didn't fail. What you see is that the original driver exception (`PostgresqlTransientException`). The fact that'

[2020-03-26 10:27] #267 closed

[2020-03-26 10:30] DRSains commented on #267
what about the logging level? I noticed you opened a similar issue?

[2020-03-26 10:44] Squiry commented on #267
Logger is o.s.t.i.TransactionInterceptor (o.s stands for org.springframework i guess). So it's not our issue  too.

[2020-03-29 13:23] Joxit opened #268 "Support hstore as default codec"
## Feature Request

First of all, thank you for your driver !
I started a project recently and we chose to use r2dbc. My main domain is geographic services (OpenStreetMap data) and we often use PostgreSQL and Postgis.
In this domain, there is also a type we always use, it's `hstore`, and there are no codec for this type in r2dbc-postgresql.

#### Describe the solution you'd like

`hstore` data typ

[2020-03-29 18:40] mp911de commented on #268
Adding `hstore` support makes sense since it part of most (all?) Postgres distributions anyway. Happy to review a pull request. Enabling `hstore` on a particular database seems to allocate OIDs, therefore, we need to look up the `hstore` OID during the connect phase and skip the codec if `hstore` is not enabled at the time the connection was established.

[2020-03-29 21:59] Joxit commented on #268
Oh yes the OID is not fixed, so I will need this query `SELECT oid FROM pg_catalog.pg_type WHERE typname = 'hstore'`

I post the PR now with only the codec and then the OID check.

[2020-04-02 13:51] 62mkv commented on #37
unfortunately this does not seem to be the case:

If I execute
[code]

it will output

if I execute
[code]

it will output

in the former case, unqualified `SELECT` from table in mwconfig will return OK, in the latter - will give an error: `SQL Error [42P01]: ERROR: relation "..." does not exist`

[2020-04-02 13:57] davecramer commented on #37
You are correct. There is a small nuance between the two as per the docs
SET SCHEMA 'value' is an alias for SET search_path TO value. Only one schema can be specified using this syntax.

[2020-04-02 14:17] OrangeDog commented on #37
If you want to set the schema use `schema`, if you want to set the search path use `search_path`.
Talk of aliases just muddles things. Both should be supported.

[2020-04-02 14:21] 62mkv commented on #37
well, currently

`spring.r2dbc.url=r2dbc:postgresql://localhost:5432/postgres?search_path=public,mwconfig`

does not seem to work

[2020-04-02 14:27] 62mkv commented on #37
as has been explained by @mp911de there's currently no way to set `search_path` via R2DBC URL.

[2020-04-02 16:29] 62mkv opened #271 "add support for providing "search_path" connection option"
## Feature Request

Missing is a way to specify `search_path` in a R2DBC URL

#### Is your feature request related to a problem? Please describe

In some cases, it's useful to be able to specify search_path in the URL, as it's a database specific aspect.

#### Describe the solution you'd like

I want to be able to specify connection URL as

`spring.r2dbc.url=r2dbc:postgresql://localhost:5432/postg

[2020-04-02 16:30] 62mkv commented on #271
also see #37 - "search_path" option is different from "schema" option

[2020-04-03 07:06] mp911de commented on #271
I'd suggest to:

1. Switch `schema` to `search_path` instead of issuing a `SET schema=` command.
2. Add an alias `currentSchema`

This way we align with PGJDBC. Being consistent with PGJDBC is more favorable than adding another option. Feel free to submit a pull request.

[2020-04-03 13:04] 62mkv commented on #271
Hi Mark @mp911de . you can assign it on me, I will look into it. so, to clarify, is it correct understanding that:
- rename existing "schema" option to "search_path" option;
- change implementation for this option to `SET search_path TO %s` instead of `SET SCHEMA '%s'`
- add support for "currentSchema" as an alias for "search_path"

?

[2020-04-03 13:17] mp911de commented on #271
No, please keep the `schema` option. We do not want to break existing code.

Not exactly. Remove the call to `PostgresqlConnectionFactory.setSchema`. Pass on the search path to [`StartupMessageFlow`](https://github.com/r2dbc/r2dbc-postgresql/blob/master/src/main/java/io/r2dbc/postgresql/PostgresqlConnectionFactory.java#L194-L195) (similar to what is done to application name).

Yes. Actually it's a

[2020-04-03 13:52] 62mkv commented on #271
well, according to https://jdbc.postgresql.org/documentation/head/connect.html:

`currentSchema` is an alias for `SET search_path`, essentially.

two things more to clarify:

1) how do we ensure that `search_path=schemaA,schemaB` will be parsed as a single `Option`? parsing happens in the R2DBC engine, as far as I can tell..
2) what is a proper way to implement aliasing ? should this be a separate

[2020-04-03 14:12] mp911de commented on #271
Here are some further details.

0. Using connection startup attributes is sent as part of the connection handshake. Using `SET …` requires a server roundtrip so moving to startup attributes gives the driver a better startup performance.
1. URL parsing uses a query string parser that use `&` (ampersand) as delimiter for key-value pairs.
2. In options are queried in [`PostgresConnectionFactoryProvid

[2020-04-03 16:44] 62mkv commented on #271
just thinking out loud - what if we just parse `options` (parsed by R2DBC) to `Map` in the `PostgresqlConnectionConfiguration#createConfiguration` ? That would unblock many other options in the R2DBC URLs as well..

[2020-04-03 16:45] 62mkv commented on #271
although, I have no idea of potential implications..

[2020-04-20 15:39] deblockt opened #274 "Connection in unstable state when rollback after a failed commit"
## Bug Report

#### Versions

- Driver: 0.8.1.RELEASE
- Database: postgres v11
- Java: 11
- OS: ubuntu

#### Current Behavior

I have a query that fail on commit (due to pk issue). When the commit fail, r2dbc try to perform a rollback.

[code]

By following trace `f38d07efa5ddadb6`, we can see that:
- commit has failed: pk error
- try to rollback:  current transaction is aborted
- try to rollback.

[2020-04-24 07:11] #239 closed

[2020-04-24 09:25] #268 closed

[2020-04-24 09:45] #271 closed

[2020-04-27 11:12] 62mkv opened #275 "static initializers of StartupMessage cause blocking calls"
## Bug Report

#### Versions

- Driver: 0.8.0.RELEASE
- Database: 11.7
- Java: 8.0.172
- OS: Windows 10

#### Current Behavior

Initialization blocks of static variables in `StartupMessage` might issue blocking calls, which might lead to BlockHound enabled tests failing, as in:

[code]

#### Steps to reproduce

any code, that will execute r2dbc-postgresql query, wrapped with `BlockHound.install()`

[2020-04-28 13:32] mp911de opened #276 "Add BlockHound to integration tests"

[2020-04-30 14:45] #275 closed

[2020-04-30 14:45] #276 closed

[2020-05-03 01:25] anfy2002us commented on #222
For two days I was wondering why instead of 100k+ records I can see in the database exactly 2600.... either way upgrading to the version that have the fix resolved my issue.

[2020-05-04 12:16] mp911de opened #277 "Backport capability to disable prepared statement caching to 0.8 line"
Given that pgbouncer seems a pretty common arrangement in production environments we should backport #223 to 0.8 to unblock users that want to use R2DBC Postgres with pgbouncer.

[2020-05-04 12:36] davecramer commented on #223
Hmmmm.... prepareThreshold=0 doesn't explicitly disable the cache preparedStatementCacheQueries=0 does that.

[2020-05-05 09:58] 62mkv opened #278 "add capability to log query parameters (bindings) values"
## Feature Request

#### Describe the solution you'd like

I'd like to be able to specify logging level (say, `io.r2dbc.postgresql.PARAM`) which, when set to DEBUG or TRACE, would enable logging of parameters.

#### Describe alternatives you've considered

`r2bc-proxy` is an alternative, but seems to be a big overhead for such a simple use-case

#### Teachability, Documentation, Adoption, Migratio

[2020-05-05 10:06] mp911de commented on #278
We do not record parameter values in a canonical format that is suitable for logging. When calling `bind(…)`, we run the bind value through the codec and the result is a `Publisher<ByteBuf>`. Therefore, we cannot really print any parameters during the execution.

We could add trace logging to the bind methods so that parameters get logged at the time of their binding.

[2020-05-05 10:17] 62mkv commented on #278
that would be great!

[2020-05-05 11:22] mp911de commented on #278
Feel free to submit a pull request.

[2020-05-05 17:55] ttddyy commented on #278
FYI, with r2dbc-proxy, you can do something like this:

[code]

[2020-05-13 04:24] x0a1b commented on #277
Can't wait for it!

[2020-05-13 22:11] Squiry commented on #247
I've [reproduced ](https://gist.github.com/Squiry/3b88bffa0a502e771555d8317a589cc7) this issue with pure r2dbc-postgres.
The problem is in `.publishOn(Schedulers.boundedElastic())` that line.
Usually we have our messages on reactor-tcp-nio threads, but once in a while it is published on bounded elastic scheduller (I don't know why). In that case `PostgresqlResult`' sends `onComplete`, but underlyi

[2020-05-13 22:48] Squiry commented on #274
I don't think that r2dbc-postgres really does some tx-management. As I can see in log all this rolling-back-failed-to-commit-tx logic is in `R2dbcTransactionManager` and that's a part of spring-data-r2dbc.
@mp911de please correct me if I'm wrong.

[2020-05-14 06:54] mp911de commented on #247
Can you push the code somewhere? I will ask @bsideup or @simonbasle for help.

[2020-05-14 07:00] mp911de commented on #274
What @Squiry said. I'm worried about the `rollback()`/`setAutoCommit(true)` sequence. The rollback doesn't seem to have any effect as `setAutoCommit(…)` tries to issue a commit:

[code]

I need to look into it what's going on.

[2020-05-15 08:54] mp911de opened #279 "Introduce OptionMapper for option mapping"
Currently, `PostgresqlConnectionFactoryProvider` contains a lot of conditionals to configure and convert options. We should introduce a utility to fetch, map and conditionally apply config properties in a simplified way.

[2020-05-15 08:59] bsideup commented on #247
@Squiry the reproducer uses uninterruptible `sleep`:
https://gist.github.com/Squiry/3b88bffa0a502e771555d8317a589cc7#file-r2dbcexampleapplicationtests-L182

it does not "simulate backpressure" but blocks the IO thread.
Consider using `delayElements` instead, or prepending it with `publishOn`.

[2020-05-15 09:27] #279 closed

[2020-05-15 09:28] mp911de commented on #277
That's in place now.

[2020-05-15 09:28] #277 closed

[2020-05-15 11:57] mp911de commented on #274
I have only a partial explanation on what happens. For some reason, the `ROLLBACK` statement fails. As part of the transaction cleanup, auto-commit gets restored and enabling auto-commit sees that there is an unfinished transaction that issues a commit.

We require a reproducer to further investigate what's happening.

[2020-05-15 12:11] mp911de commented on #247
I wasn't able to reproduce the issue. In general, the provided reproducer issues uses a number of rows that make it almost impossible to debug the code. I understand that race conditions are somewhat tricky to reproduce so my hope is that we can find another way to reproduce the issue with less test complexity involved.

[2020-05-15 22:36] Squiry commented on #247
Computation is blocking operation too, you know. Problem is not in blocking,

Anyway, I have my ide paused in debug session with a request that going to hang and I'd appreciate some help. Stack traces are 1km long but:

-  [here](https://i.imgur.com/bR99ihR.png)'s usual process of frame: it goes through all the reactor subscribers to that onNext with sleep.
-  [here](https://i.imgur.com/X8FDIhX.pn

[2020-05-19 19:14] deblockt commented on #274
I'm trying to reproduce the issue on a sample, but without success.
The main difference that I can not see that on my reproduction logs `DEBUG [b4b77d43edce3714] i.r.postgresql.util.FluxDiscardOnCancel  received cancel signal` .
Do you know what is done by this class?

[2020-05-19 19:57] mp911de commented on #274
FluxDiscardOnCancel gets activated if you cancel the result consumption before consuming all results from the statement execution. You should be able to reproduce it via statement.execute().flatMap(result -> result.map(...)).take(1) assuming that the statement creates more than one row.

[2020-05-20 07:06] mp911de opened #280 "Release 0.8.3"

[2020-05-20 07:12] mp911de opened #281 "Upgrade dependencies"
* AssertJ 3.15.0 -> 3.16.1
* HikariCP 3.4.2 -> 3.4.5
* Netty 4.1.47.Final -> 4.1.50.Final
* PGJDBC 42.2.11 -> 42.2.12
* Reactor BOM Dysprosium SR6 -> Dysprosium SR7
* Testcontainer 1.13.0 -> 1.14.2

[2020-05-20 08:32] avinash-anand opened #282 "Support for geospatial types - point, line, box, polygon etc"
## Feature Request
Please don't mind as I'm a beginner wrt requesting OSS features.
I would like to have support for geo-spatial types like point, line, polygon etc.

#### Is your feature request related to a problem? Please describe
Our current project is JDBC based and there we use postgis-jdbc to save our data along with geospatial data in postgresql. we save mostly coordinates (Points) or line

[2020-05-20 15:29] mp911de commented on #282
I'm not sure where the best place is for Postgres Geo functionality. The JDBC driver ships with Geo types (`PGline` and others), so likely we should follow the same model.

Feel free to submit a pull request containing this functionality.

[2020-05-22 05:14] avinash-anand commented on #282
@mp911de , Thanks for your reply. If you could guide me little, I can give it a try. From where should I start?

[2020-05-22 06:50] mp911de commented on #282
What seems required are two things:

* Declaration of Geo-objects. Take a look at the [`geometric`](https://github.com/pgjdbc/pgjdbc/tree/master/pgjdbc/src/main/java/org/postgresql/geometric) package of pgjdbc.
* Creation of dynamic codecs per Geo object type. I'm not familiar with Postgres Geo types, but as it looks now, Geometry types require an OID lookup similar to the `hstore` support. Have a

[2020-05-25 08:06] #281 closed

[2020-05-28 14:25] gregturn commented on #280
Resolved via 4c9f142.

[2020-05-28 14:25] #280 closed

[2020-05-29 09:36] deblockt commented on #274
Hi, I created a project to reproduce the issue: https://github.com/deblockt/r2dbc-issue-reproducer

I doesn't have the same log, but I have the same issue finally (a closed connecton)

[2020-05-29 09:47] deblockt commented on #274
It seem that with `Arabba-SR4` I don't reproduce the issue on my sample project. Do you know if something on this version can fix the issue?
I will try to reproduce on my real project.

[2020-05-29 10:05] deblockt commented on #274
I have try on my project, And the issue seem to be fixed with `Arabba-SR4`. I think that we can close the issue

[2020-05-29 10:19] deblockt commented on #274
I have test on my real case application, Have the issue change using `Arabba-SR4` When an error occurs, The mono is "blocked"; the connection is not released and nothing happen.
All is unblocked when I kill the application, on shutdown connection are released and errors are shown

[2020-05-29 13:08] mp911de commented on #244
Reopening this issue. The assumption back then was to make enums work with either the `VARCHAR` or a numeric codec and that's what [my previous comment was about](https://github.com/r2dbc/r2dbc-postgresql/issues/244#issuecomment-583723147).

We can make Postgres enumerated types work by providing a `EnumCodec` that takes an OID and the Java enum type so we can map enumerated values in both types.

[2020-05-29 13:41] mp911de commented on #274
0.8.3 ships with mostly dependency upgrades and smaller improvements and there aren't really bugfixes. Let me have a look at the provided sample.

[2020-05-29 13:57] mp911de commented on #274
I was able to get all sorts of exceptions with version 0.8.1 (Arabba-SR2). Version 0.8.2 contained some significant changes to cancellation and event dispatching so I expect 0.8.2 is really the version that fixed a few things.

Let me know if the issue persists or has changed so that we can either continue the investigation or that we can close this ticket.

[2020-06-02 15:26] deblockt commented on #274
Using the version `Arabba-SR2` when a rollback occurs the mono or flux is never completed.

[2020-06-02 15:36] deblockt commented on #274
With the last version when an error occurs, the rollback start, but the mono is never released.

[2020-06-05 08:53] mosherobinov opened #285 "Infinite drainLoop call in BackendMessageSubscriber"
## Bug Report

when running a query which returns back a relatively large stream of results the query returns back all of the results but does not getting completed.
most of the times the query runs once successfully and completes but when i run it for the second time it doesn't get completed.
sometimes it doesn't get completed even in the first time i execute it.
instead it is stuck in an infinit

[2020-06-09 16:16] mosherobinov commented on #285
any suggestions?

[2020-06-09 18:21] mp911de commented on #285
I hadn’t had a chance to have a look. Before removing the loop, we should check why the loop traps the processing instead of leaving the loop.

[2020-06-09 18:33] mosherobinov commented on #285
@mp911de i agree, but i'm not very familiar with this project's code base so i hoped maybe some one from the contributors will shed some light on this issue.
i will try to debug it once ill have the time and hopefully i will have some more insights.

[2020-06-11 23:53] x0a1b commented on #285
So I got bitten by this bug today, is there a build already with this fix? I think is 0.8.4.RELEASE is pretty far from being released; I wonder if we can run R2DBC with this patch in production in the mean time.

[2020-06-12 09:03] mp911de commented on #285
Since each driver can be released independently, we can cut a release once the issue is fixed.

[2020-06-12 10:59] mosherobinov commented on #285
@mp911de regarding the fix you suggested, as i said i'm not really familiar with the code but it seems like `onRequest()` can never emit values because then it will cause this recursion, so maybe the approach of calling `emit()` (no sure about `complete()`) from `onRequest()` was wrong to begin with?

[2020-06-12 11:40] mmenard-hmrc opened #286 "SSL Mode configuration is not working anymore with v0.8.3.RELEASE"
## Bug Report

#### Versions

- Driver: v0.8.3.RELEASE
- Database: postgres:11.6
- Java: 11
- OS: MacOS Catalnia

#### Current Behavior

Since I have updated my project to use spring-data-r2dbc 1.1.1 RELEASE which takes r2dbc-postgresql v0.8.3.RELEASE, I have this error :

`Server support for SSL connection is disabled, but client was configured with SSL mode verify-full`

I have this configuratio

[2020-06-15 09:53] mp911de opened #287 "Move repository to pgjdbc organization"
In preparation for maintaining `r2dbc-postgresql` under the `pgjdbc` organization, we need to prepare this repository first. The repository at `pgjdbc/r2dbc-postgresql` will be considered a fork while the original repository will be no longer maintained. That is mostly a legal implication.
Technically, we will move the repository entirely to the `pgjdbc` organization to preserve links, issues, pul

[2020-06-15 21:07] jamesWagstaff1985 opened #288 "hateoas with postgres implementation"
## Bug Report

#### Versions

- Driver:0.8.3.RELEASE
- Database: 12.3-1.pgdg100+1
- Java: 11
- OS: ubuntu 20.04
- Spring Hateoas: 1.0.5.RELEASE

#### Code
[code]

#### Current Behavior

Not converting between entity and RepresentationModel.
After pulling the data from the database, I am receiving a MappingException from the List part of the RepresentationModel. Also no identifier property found fo

[2020-06-15 22:13] Squiry commented on #288
I think this is a Spring Data or Spring Something Else problem.

[2020-06-16 02:03] jamesWagstaff1985 commented on #288
I have just tested a similar setup but with webflux and mongodb, and it works as expected. Also jpa and postgres and everything is fine. I think the problem is coming from the r2dbc side.
I think it is something to do with this class -> MappingR2dbcConverter.readFrom(MappingR2dbcConverter.java:172)

[2020-06-16 06:42] #288 closed

[2020-06-16 06:46] #244 closed

[2020-06-16 07:15] mp911de commented on #285
`onRequest(…)` can lead to emission in case auto-read is suspended. That is a TCP backpressure mechanism that leaves TCP packets in the receive buffer instead of reading these into the JVM.

I rewrote the code into a form where the `drainLoop` is left if the `drainLoop` is already active. That makes `drainLoop` safe for reentrant calls.

[2020-06-16 07:16] #285 closed

[2020-06-16 07:23] mp911de commented on #285
A new snapshot build (0.8.4.BUILD-SNAPSHOT) is available from repo.spring.io. Care to test whether the issue was fixed?

[2020-06-16 07:24] mp911de commented on #247
@steven-sheehy we fixed an issue in the context of #285 whose symptoms were that queries never complete. Care to test against 0.8.4.BUILD-SNAPSHOT whether the issue is gone?

[2020-06-16 07:31] mp911de commented on #286
`sslMode` isn't correctly applied in 0.8.3. Configuring `sslMode` leads always to `VERIFY-FULL`. As a workaround, do not configure the `sslMode` property at all until the fixed version is available.

[2020-06-16 07:34] #286 closed

[2020-06-16 07:51] mp911de commented on #274
We fixed today an issue where publishers never complete due to a bug in handling reentrant calls. Care to retest the issue against `0.8.4.BUILD-SNAPSHOT`?

[2020-06-16 10:34] mp911de commented on #282
`Point` support was added with #283.

[2020-06-16 13:53] x0a1b commented on #285
I will pull it and get it tested today.

[2020-06-16 22:49] x0a1b commented on #285
I have changes out in production, so far they seem to be working. I will let it marinate for 24 hours just to be sure. Will keep this thread posted.

[2020-06-17 06:52] mosherobinov commented on #285
@mp911de query still not completes.
i reproduced it again with 0.8.2.RELEASE, then took 0.8.4.BUILD-SNAPSHOT and ran the query again, the query wasn't completed, there is one difference though, i don't see the looping thread anymore.
i used `log()` method and i didn't see the `complete` signal, and it didn't emit all of the values.

[2020-06-18 21:42] steven-sheehy commented on #247
My real application no longer uses R2DBC, so I can't test it there. I did try again with my sample project and it looks to be fixed. Will close. Thanks!

[2020-06-18 21:42] #247 closed

[2020-06-19 13:43] mp911de opened #289 "Upgrade to Reactor Dysprosium SR8"

[2020-06-19 13:48] #289 closed

[2020-06-21 18:47] x0a1b commented on #285
I can confirm that too. While the CPU spike doesn't happen; the flux itself never completes. I still see every once in a while a blip where flux takes more than 5079 seconds. I was wondering if cancelling the flux after fixed time will help here. Would that cancel the query correctly?

[2020-06-21 19:25] mp911de commented on #285
Okay, seems we should file another issue to fix the new issue.

[2020-06-22 13:17] mp911de opened #290 "Rename master branch to main"

[2020-06-22 13:18] #290 closed

[2020-06-22 13:19] #287 closed

[2020-06-22 15:03] x0a1b commented on #285
@mosherobinov is there some sort of test bench you have to reproduce that bug. May be we can open that bug with a reproducible test-bench setup.

[2020-06-22 15:34] mosherobinov commented on #285
@x0a1b for the previous issue i couldn't create a test that reproduces it, i was able to reproduce it only by running the query through the application's REST API.
maybe for this new issue i would be able to reproduce it, i will try.

[2020-06-22 15:36] mp911de commented on #285
I expect a race/concurrency issue to happen here. To reproduce it, we need either two connections or two publishers that run on different threads.

[2020-06-24 09:42] mp911de opened #291 "Upgrade to Reactor Dysprosium SR9"

[2020-06-24 11:28] #291 closed

[2020-06-24 14:42] mosherobinov opened #292 "Query doesn't complete"
## Bug Report

#### Versions

- Driver: 0.8.4.BUILD-SNAPSHOT
- Database: PostgreSQL 12
- Java: 1.8.0_202
- OS: macOS Catalina 10.15.5

#### Current Behavior

query doesn't complete and doesn't emit all of the rows.
#### Steps to reproduce

i forked `r2dbc-postgresql` and added a new test that reproduce this issue.
take a look at this commit: https://github.com/mosherobinov/r2dbc-postgresql/commit/

[2020-06-24 14:43] mosherobinov commented on #285
@mp911de i reproduced it and opened a new issue: https://github.com/pgjdbc/r2dbc-postgresql/issues/292

[2020-06-25 09:23] deblockt commented on #274
Is there a bom ton instal this version?

[2020-06-25 12:02] mp911de commented on #274
Typically, you specify the version number in your build config. See https://github.com/pgjdbc/r2dbc-postgresql/tree/0.8.x#maven-configuration for a Maven example.

[2020-06-25 12:27] davecramer commented on #274
FYI, there are challenges with this scenario due to the way postgres handles transactions. No error message is emitted if you commit transaction in an error state. Instead Postgres responds to commit with rollback. There is a thread https://www.postgresql.org/message-id/b9fb50dc-0f6e-15fb-6555-8ddb86f4aa71%40postgresfriends.org feel free to voice your opinion. The jdbc driver now checks for rollba

[2020-06-25 16:25] x0a1b commented on #292
I can confirm this happening; this fix should be part of `0.8.4.RELEASE` build.

[2020-06-26 08:49] mp911de commented on #292
Thanks a lot for the reproducer. I'm going to investigate what's going on.

[2020-06-26 09:17] mp911de commented on #292
As it looks now, the emission gets stuck after `request(1)`. This is, because of missing upstream demand propagation (`hasBufferedItems() && hasDownstreamDemand()` doesn't allow entering `drainLoop`). Calling `demandMore()` helps to address the issue. Need to check whether that's the fix or whether we might miss something.

[2020-06-26 09:37] #292 closed

[2020-06-26 09:42] mp911de commented on #292
0.8.4 snapshots are available from repo.spring.io. Feel free to test against the new snapshots.

[2020-06-26 09:44] mosherobinov commented on #292
@mp911de Thanks, i will check it.
do we have a due date for the 0.8.4 release?

[2020-06-26 09:45] mp911de commented on #292
Not yet. Roughly, we aimed for shipping releases every two months. Mid-July seems a good target.

[2020-06-26 09:59] deblockt commented on #274
I have try with the 0.8.4 version, but now some request are not executed. I will retry later.

[2020-06-26 10:59] mp911de commented on #274
We're going to fix in 0.8.x the issue that `commitTransaction` ignores failed transactions so `COMMIT` ensures a proper transaction cleanup. For 0.9.x, we're going to align with PGJDBC, so that we throw a rollback exception on silent rollbacks.

[2020-06-26 11:01] #274 closed

[2020-06-26 20:57] x0a1b commented on #292
Is it part of `0.8.4.BUILD-20200626.112115-12`; I can deploy it on prod and tell you if I see the issue again.

[2020-06-29 07:06] mp911de opened #293 "Release 0.8.4.RELEASE"

[2020-06-29 19:38] x0a1b commented on #292
@mp911de  I have been trying to pull the SNAPSHOT build I am getting:

[code]

Gradle seems to be not able to resolve the dependency.

[2020-06-30 09:16] mp911de commented on #292
repo.spring.io was impacted last night by an incident, see https://status.jfrog.io/incidents/cjx2djy9xzb2 for further details. The incident is resolved now.

[2020-06-30 17:32] x0a1b commented on #292
Thanks it works now.

[2020-07-02 06:54] mistreckless opened #294 "Support for "time with time zone" type"
## Feature Request

#### Is your feature request related to a problem? Please describe
When you are working with time, you often need a timezone.  Right now I have to save time with timezone as string to db, so I loose option for native query in those columns, that affects my service performance

#### Describe the solution you'd like
Add mapping time with time zone to OffsetTime

#### Describe alt

[2020-07-02 09:23] mp911de opened #295 "Add support for SSL tunnels"
SSL can be used through a SSL tunnel that terminates SSL communication and forwards traffic to a database server. We should allow SSL tunnel usage so setups like GCP Postgres can be used. Ideally, we introduce another `SSLMode` constant (`SSLMode.TUNNEL`) to support this case.

[2020-07-02 09:27] mp911de opened #296 "Add config options for TCP nodelay and keepalive"

[2020-07-02 10:04] #295 closed

[2020-07-02 10:04] #296 closed

[2020-07-03 09:04] mp911de commented on #294
The postgres `TIMETZ` (oid 1266) type would map to `OffsetTime`. Feel free to submit a pull request for a `OffsetTimeCodec`.

[2020-07-03 09:06] mosherobinov commented on #292
i can confirm as well this issue is fixed now.

[2020-07-09 12:17] burmanm commented on #293
Is 0.8.4 going to be the first release under org.postgresql in the Maven repo? As currently the

[code]

Has no matches in the maven central.

[2020-07-09 14:42] mp911de commented on #293
We keep the groupId `io.r2dbc` for the 0.8 line to not break existing users. The new groupId `org.postgresql` applies to 0.9 (`main` branch) and newer.

[2020-07-11 20:12] x0a1b commented on #293
Any timelines on this release? Right now the bug-free build snapshot keeps changing it's version.

[2020-07-13 09:21] mp911de opened #299 "Ensure no snapshots get referenced in release builds"
This is to not accidentally pull in snapshots in releases.

[2020-07-13 09:23] #299 closed

[2020-07-13 10:15] #294 closed

[2020-07-17 06:53] #293 closed

[2020-07-22 13:01] mp911de opened #301 "Row.decode(…) fails for enum type with IllegalArgumentException: 72093 is not a valid object id"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2020-07-22 13:14] mp911de opened #302 "EnumCodec decoding fails if the requested value type is Object"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2020-07-22 13:46] mp911de opened #303 "Add priority to EnumCodec registrar"
Right now, `EnumCodecs` are registered last in the codec chain. We should add a configuration option to `EnumCodec.Builder` to allow configuring whether enum codecs should be registered first or last.

[2020-07-24 08:56] mp911de opened #304 "NullPointerExceptionwhen adding SSL handler via SSLTunnelHandlerAdapter"
## Bug Report

[code]

[2020-07-24 09:19] #304 closed

[2020-07-24 16:20] rasikhinge commented on #302
Hi @mp911de , as this will be my first contribution in open source, I would like to claim this issue.

[2020-07-24 18:30] mp911de commented on #302
Sure, you're welcome @rasikhinge. The first step is to build the project. Check out the local build section in the project readme. To run integration tests, you will need to install Docker on your machine.

Once these things are done, ideally create a local feature branch and start changing the code.

[2020-07-26 18:55] AlbertMMM commented on #301
@mp911de I would like to claim this issue. I have the the repository locally set up and I'm able to run the tests. Can you please point me in the right direction to mocking As user, calling Row.get(…)?

[2020-07-27 06:41] mp911de commented on #301
You're welcome @AlbertMMM. I would suggest starting with a test for `canDecode` using a subclass of `AbstractTemporalCodec`, e.g. `InstantCodec`. Codecs are used from `PostgresqlRow`. However mocking `PostgresqlRow` along with all the required objects (column descriptors, row data) would impose a lot of work and it would be a test with many directions. Therefore, I suggest starting on the codec le

[2020-07-28 09:20] jpestana-projects commented on #302
Hi! I would like contribute with this issue (actually I think know how to solve the problem) but have some doubts about test my solution.
Firstly, how I should configure my enviroment to test the code? Should I configure any concrete Docker container?
Do I need to build any specific postgresql database? I mean, if any type of enum throws the error or it's more specific.

Thank you!

[2020-07-28 09:27] mp911de commented on #302
Thanks for your interest @jpestana-projects. We haven't head back from @rasikhinge yet. Let's give them three more days until you can claim the issue.

If you're interested in running the build locally, then installing just Docker is fine. Everything else is handled by the project build infrastructure as we're using @testcontainers for integration testing that pulls an image during integration tes

[2020-07-28 12:33] rasikhinge commented on #302
@mp911de , Sorry for late response, I am not available for this week, got some personal work, So I won't be able to contribute for this issue. You can re-assign this issue to @jpestana-projects.
Thank you for giving me this opportunity.

[2020-07-28 12:45] mp911de commented on #302
You're welcome and thanks for letting us know. @jpestana-projects feel free to start working on this ticket if you like.

[2020-07-31 14:21] #282 closed

[2020-07-31 14:22] mp911de commented on #282
We now support al geo-spatial types 🎉  as of 0.8.5.

[2020-07-31 14:35] #302 closed

[2020-07-31 14:35] mp911de commented on #302
Thanks for your contribution @jpestana-projects.

[2020-08-05 03:21] highgozhangyc opened #311 "How to execute a simple sql by r2dbc-postgresql"
Hi everyone,
  I want to execute a simple sql by r2dbc-postgresql,and i wrote a simple example like this:

           PostgresqlConnectionFactory connectionFactory = new
                   PostgresqlConnectionFactory(PostgresqlConnectionConfiguration.builder()
			    .host("localhost")
			    .port(5433)  // optional, defaults to 5432
			    .username("postgres")
			    .password("postgres")

[2020-08-05 07:25] mp911de commented on #311
R2DBC requires the consumption of the `Result` to ensure that a query gets executed. `Statement.execute()` typically creates a `Publisher<Result>` which represents an execution promise (i.e. the actual query is run when `Result` gets consumed)

[2020-08-05 12:42] #303 closed

[2020-08-06 19:50] codegtd opened #312 "$1, $2, … in string literals erroneously identified as bind marker"
## Bug Report

#### Versions

- Driver: io.r2dbc/r2dbc-postgresql
- Database: userspasswords
- Java: 11
- OS: Windows 10 x64

#### Current Behavior
The Special character "$" are not being accepted for the migration process.

<details>
<summary>Stack trace</summary>

[code]

</details>

#### Table schema

<details>
<summary>Input Code</summary>

[code]

</details>

#### Steps to reproduce

0) GitHu

[2020-08-07 12:02] nkonev commented on #312
@mp911de Seems problem is [here](https://github.com/pgjdbc/r2dbc-postgresql/blob/16925b51775960a95209bba83e1ec976406e182c/src/main/java/io/r2dbc/postgresql/SimpleQueryPostgresqlStatement.java#L139). The driver tries to determine statement type.

[2020-08-07 12:09] mp911de commented on #312
Thanks for having a look. Indeed, the problem is related to bind parameter discovery. We I think there are actually two issues:

1. Discover whether a statement is parametrized or not
2. Discovery of the actual bind markers. The parametrized statement implementation IIRC doesn't consider quotation. Any literals inside of quoted sections need to be skipped.

That being said, feel free to submit a p

[2020-08-12 20:03] pmaedel opened #313 "Accept SSL certificates by providing a URL to use cert from within a jar"
I have a `cert.pem` in my `src/main/resources`
I need it when running the app jarred as well as unjarred.

Specifying it faithfully in my `application.properties` as `spring.r2dbc.properties.sslRootCert=classpath:cert.pem` fails as r2dbc does not load the file via classpath: https://github.com/pgjdbc/r2dbc-postgresql/blob/main/src/main/java/io/r2dbc/postgresql/util/Assert.java#L130

[code]

I see

[2020-08-13 08:09] mp911de commented on #313
We should accept an `URL` to allow resolution from a class path resource for cert/root-cert/ssl key. Accepting an URL bears the risk that someone stores a remote URL like a HTTP URL which introduces blocking I/O when resolving the certificate. I don't really see an alternative as it doesn't make sense to introduce a fully-fledged resource abstraction.

[2020-08-13 08:15] mp911de commented on #301
Since the submitted pull request had to be closed due to inactivity, this ticket is up for grabs again.

[2020-08-13 08:17] Isabek commented on #313
I would like to work on it. Could you assign it to me, please?

[2020-08-13 08:30] mp911de commented on #313
Sure. Feel free to submit a pull request. Let us know if there's something you need assistance with.

[2020-08-13 09:30] mp911de commented on #311
Closing the issue as it works as design.

[2020-08-13 09:30] #311 closed

[2020-08-13 10:23] HenrikHL opened #314 "calling connection.close() does not release the connection"
## Bug Report

#### Versions

- Driver:r2dbc-postgresql 0.8.4.RELEASE
- Database: PostGres
- Java: 11
- OS: Windows 10 64bit

#### Current Behavior

After making 10 database requests my application hangs

<details>
<summary>Stack trace</summary>

After shutting my application the following stacktrace occurs:

[code]
</details>

#### Steps to reproduce

<details>
<summary>Input Code</summary>

[cod